schema/common_10-07-16.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- common schema   *in progress*
    for use by Biography, Events and Writing schemas
    written 2010-03-31 by Mariana Paredes-Olea,
    based on events.dtd and biograph.dtd (SGML)
    Copyright 2010 The Orlando Project -->

<!-- Revision as of 2011-01-16 -->

<!-- TO DO:-->
<!--Check SGML minimization rules that allow for non-closed tags:
    xptr , xref-->
<!-- Redefine default values - schematron -->
<!-- Check inclusions and exclusions -->
<!-- check all mixed patterns against dtds (text) -->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <start>
        <ref name="Common"/>
    </start>

    <define name="Common">
        <!-- check -->
        <ref name="OrlandoHeader-element"/>
    </define>

    <!-- OrlandoHeader starts -->

    <define name="OrlandoHeader-element">
        <element name="ORLANDOHEADER">
            <ref name="ID-attribute"/>
            <optional> <!-- check in dtd -->
                <attribute name="TYPE" a:defaultValue="TEXT"/>
            </optional>
            <ref name="fileDesc-element"/>
            <ref name="revisionDesc-element"/>
        </element>
    </define>

    <define name="fileDesc-element">
        <element name="FILEDESC">
            <ref name="ID-attribute"/>
            <ref name="titleStmt-element"/>
            <optional>
                <ref name="docExtent-element"/>
            </optional>
            <ref name="publicationStmt-element"/>
            <ref name="sourceDesc-element"/>
        </element>
    </define>

    <define name="titleStmt-element">
        <element name="TITLESTMT">
            <ref name="ID-attribute"/>
            <group>
                <oneOrMore>
                    <ref name="docTitle-element"/>
                </oneOrMore>
                <zeroOrMore>
                    <choice>
                        <element name="DOCAUTHOR">
                            <ref name="ID-attribute"/>
                            <text/>
                        </element>
                        <element name="DOCEDITOR">
                            <ref name="ID-attribute"/>
                            <attribute name="ROLE" a:defaultValue="EDITOR"> </attribute>
                            <text/>
                        </element>
                    </choice>
                </zeroOrMore>
            </group>
        </element>
    </define>

    <define name="docTitle-element">
        <element name="DOCTITLE">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="TYPE"/>
            </optional>
            <zeroOrMore>
                <choice>
                    <text/>
                    <ref name="date-element"/>
                    <ref name="emph-element"/>
                    <ref name="foreign-element"/>
                    <ref name="soCalled-element"/>
                    <ref name="quote-element"/>
                    <ref name="rs-element"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <define name="date-element">
        <element name="DATE">
            <ref name="date-attributes"/>
            <interleave>
                <text/>
                <ref name="narrow-inclusion"/>
                <!-- Inclusion from Div1 and Div0 except elements
                    in DTD exclusion (dateStruct, dateRange, keywordClass,
                    name, orgName, place, scholarNote, topic) Bio also excludes-->
            </interleave>
        </element>
    </define>

    <define name="date-attributes">
        <ref name="ID-attribute"/>
        <ref name="calendar-content"/>
        <optional>
            <attribute name="VALUE"/>
        </optional>
        <ref name="certainty-content"/>
    </define>

    <define name="calendar-content">
        <optional>
            <attribute name="CALENDAR" a:defaultValue="NEWSTYLE">
                <choice>
                    <value>NEWSTYLE</value>
                    <value>BC</value>
                </choice>
            </attribute>
        </optional>
    </define>

    <define name="certainty-content">
        <!-- check if certainty , calendar are optional attributes -->
        <optional>
            <attribute name="CERTAINTY" a:defaultValue="CERT">
                <choice>
                    <value>CERT</value>
                    <value>C</value>
                    <value>BY</value>
                    <value>AFTER</value>
                    <value>UNKNOWN</value>
                    <value>ROUGHLYDATED</value>
                </choice>
            </attribute>
        </optional>
    </define>

    <define name="emph-element">
        <element name="EMPH">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <!--<ref name="name-element"/>-->
                        <!--<ref name="rs-element"/>-->
                        <ref name="time-element"/>
                        <!--<ref name="corr-element"/>-->
                        <!--<ref name="emph-element"/>-->
                        <!--<ref name="foreign-element"/>-->
                        <!--<ref name="soCalled-element"/>-->
                        <!--<ref name="quote-element"/>-->
                        <!--<ref name="topic-element"/>-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="foreign-element">
        <element name="FOREIGN">
            <ref name="ID-attribute"/>
            <ref name="reg-attribute"/>
            <optional>
                <attribute name="LANG"/>
            </optional>
            <!-- change to xml:lang ?-->
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <!--<ref name="name-element"/>-->
                        <!--<ref name="rs-element"/>-->
                        <ref name="time-element"/>
                        <!--<ref name="corr-element"/>-->
                        <!--<ref name="emph-element"/>-->
                        <!--<ref name="foreign-element"/>-->
                        <!--<ref name="soCalled-element"/>-->
                        <!--<ref name="quote-element"/>-->
                        <!--<ref name="topic-element"/>-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="soCalled-element">
        <element name="SOCALLED">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <!--<ref name="name-element"/>
                        <ref name="rs-element"/>-->
                        <ref name="time-element"/>
                        <!--<ref name="corr-element"/>
                        <ref name="emph-element"/>
                        <ref name="foreign-element"/>
                        <ref name="soCalled-element"/>-->
                        <!--<ref name="topic-element"/>-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="quote-element">
        <element name="QUOTE">
            <ref name="ID-attribute"/>
            <attribute name="DIRECT" a:defaultValue="UNSPECIFIED">
                <choice>
                    <value>UNSPECIFIED</value>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <ref name="corrquoteitem-group"/>
                        <text></text>
                    </choice>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="rs-element">
        <element name="RS">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="KEY"/>
            </optional>
            <ref name="reg-attribute"/>
            <optional>
                <attribute name="TYPE"/>
            </optional>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <!--<ref name="name-element"/>-->
                        <!--<ref name="rs-element"/>-->
                        <ref name="time-element"/>
                        <!--<ref name="corr-element"/>-->
                        <!--<ref name="emph-element"/>-->
                        <!--<ref name="foreign-element"/>-->
                        <!--<ref name="soCalled-element"/>-->
                        <!--<ref name="topic-element"/>-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="docExtent-element">
        <element name="DOCEXTENT">
            <ref name="ID-attribute"/>
            <zeroOrMore>
                <choice>
                    <text/>
                    <ref name="date-element"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <define name="publicationStmt-element">
        <element name="PUBLICATIONSTMT">
            <ref name="ID-attribute"/>
            <choice>
                <oneOrMore>
                    <ref name="p-element"/>
                </oneOrMore>
                <oneOrMore>
                    <interleave>
                        <ref name="authority-element"/>
                        <ref name="publicationStmt-group"/>
                    </interleave>
                </oneOrMore>
            </choice>
        </element>
    </define>

    <define name="authority-element">
        <element name="AUTHORITY">
            <ref name="ID-attribute"/>
            <zeroOrMore>
                <choice>
                    <text/>
                    <ref name="address-element"/>
                    <ref name="date-element"/>
                    <ref name="name-element"/>
                    <ref name="emph-element"/>
                    <ref name="foreign-element"/>
                    <ref name="soCalled-element"/>
                    <ref name="topic-element"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <define name="publicationStmt-group">
        <oneOrMore>
            <group>
                <optional>
                    <ref name="pubPlace-element"/>
                </optional>
                <optional>
                    <ref name="address-element"/>
                </optional>
                <zeroOrMore>
                    <ref name="idno-element"/>
                </zeroOrMore>
                <optional>
                    <ref name="availability-element"/>
                </optional>
                <zeroOrMore>
                    <ref name="projectDesc-element"/>
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="editorialDecl-element"/>
                </zeroOrMore>
                <optional>
                    <ref name="date-element"/>
                </optional>
            </group>
        </oneOrMore>
    </define>

    <define name="pubPlace-element">
        <element name="PUBPLACE">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="KEY"/>
            </optional>
            <ref name="reg-attribute"/>
            <zeroOrMore>
                <choice>
                    <text/>
                    <ref name="address-element"/>
                    <ref name="date-element"/>
                    <ref name="name-element"/>
                    <ref name="rs-element"/>
                    <ref name="time-element"/>
                    <ref name="corr-element"/>
                    <ref name="emph-element"/>
                    <ref name="foreign-element"/>
                    <ref name="soCalled-element"/>
                    <ref name="docTitle-element"/>
                    <ref name="topic-element"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <define name="address-element">
        <element name="ADDRESS">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="CURRENT" a:documentation="Current name for geographical location"/>
            </optional>
            <ref name="reg-attribute"/>
            <interleave>
                <oneOrMore>
                    <ref name="addrLine-element"/>
                </oneOrMore>
                <ref name="narrow-inclusion"/>
                <!-- inclusion for address -->
            </interleave>
        </element>
    </define>

    <define name="addrLine-element">
        <element name="ADDRLINE">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <ref name="name-element"/>
                        <!-- <ref name="rs-element"/> included in addrLine's narrow-inclusion -->
                        <ref name="time-element"/>
                        <!-- <ref name="corr-element"/> included in addrLine's narrow-inclusion -->
                        <!-- <ref name="emph-element"/> included in addrLine's narrow-inclusion -->
                        <!-- <ref name="foreign-element"/> included in addrLine's narrow-inclusion -->
                        <!-- <ref name="soCalled-element"/> included in addrLine's narrow-inclusion -->
                        <ref name="topic-element"/>
                    </choice>
                </zeroOrMore>
                <ref name="narrow-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="name-element">
        <!-- Exclusion: dateStruct, dateRange, 
        keywordClass, name, orgName, place, scholarNote, topic -->
        <element name="NAME">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="STANDARD"/>
            </optional>
            <interleave>
                <text/>
                <ref name="narrow-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="time-element">
        <element name="TIME">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="VALUE"/>
            </optional>
            <optional>
                <attribute name="TYPE"/>
            </optional>
            <optional>
                <attribute name="ZONE"/>
            </optional>
            <ref name="certainty-content"/>
            <interleave>
                <text/>
                <ref name="narrow-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="corr-element">
        <element name="CORR">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="SIC"/>
            </optional>
            <!-- CDATA -->
            <optional>
                <attribute name="CERT"/>
            </optional>
            <!-- CDATA -->
            <ref name="resp-content"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <ref name="corrquoteitem-group"/>
                    </choice>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="corrquoteitem-group">
        <!-- content used in elements corr, quote, and item -->
        <interleave>
            <group>
                <!-- grouped so interleave does not interfere with choices of either
                l/lg/p followed by 0+ l,lg,p,quote OR 0+ date,name,rs,etc. - test and revise-->
                <choice>
                    <group>
                        <choice>
                            <ref name="l-element"/>
                            <ref name="lg-element"/>
                            <ref name="p-element"/>
                        </choice>
                        <zeroOrMore>
                            <choice>
                                <ref name="l-element"/>
                                <ref name="lg-element"/>
                                <ref name="p-element"/>
                                <ref name="quote-element"/>
                            </choice>
                        </zeroOrMore>
                    </group>
                    <zeroOrMore>
                        <choice>
                            <!--<text/>-->
                            <ref name="date-element"/>
                            <ref name="name-element"/>
                            <ref name="rs-element"/>
                            <ref name="time-element"/>
                            <ref name="corr-element"/>
                            <ref name="emph-element"/>
                            <ref name="foreign-element"/>
                            <ref name="soCalled-element"/>
                            <ref name="quote-element"/>
                            <ref name="topic-element"/>
                            <!-- Div1 inclusion has many overlapping elements, 
                                commenting overlaps would have altered corr and quote's 
                                group choices; non-overlapping elements below-->
                            <ref name="place-element"/>
                            <ref name="orgName-element"/>
                            <ref name="sic-element"/>
                            <ref name="tGenre-element"/>
                            <ref name="xptr-element"/>
                            <ref name="xref-element"/>
                        </choice>
                    </zeroOrMore>
                </choice>
            </group>
            <ref name="Div0-inclusion"/>
        </interleave>
    </define>

    <define name="idno-element">
        <element name="IDNO">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="TYPE"/>
            </optional>
            <text/>
        </element>
    </define>

    <define name="availability-element">
        <element name="AVAILABILITY">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="STATUS">
                    <optional>
                        <choice>
                            <value>FREE</value>
                            <value>UNKNOWN</value>
                            <value>RESTRICTED</value>
                        </choice>
                    </optional>
                </attribute>
            </optional>
            <oneOrMore>
                <ref name="p-element"/>
            </oneOrMore>
        </element>
    </define>

    <define name="projectDesc-element">
        <element name="PROJECTDESC">
            <ref name="ID-attribute"/>
            <oneOrMore>
                <ref name="p-element"/>
            </oneOrMore>
        </element>
    </define>

    <define name="editorialDecl-element">
        <element name="EDITORIALDECL">
            <ref name="ID-attribute"/>
            <oneOrMore>
                <ref name="p-element"/>
            </oneOrMore>
        </element>
    </define>

    <define name="sourceDesc-element">
        <element name="SOURCEDESC">
            <ref name="ID-attribute"/>
            <text/>
        </element>
    </define>

    <define name="revisionDesc-element">
        <element name="REVISIONDESC">
            <ref name="ID-attribute"/>
            <oneOrMore>
                <ref name="responsibility-element"/>
            </oneOrMore>
        </element>
    </define>

    <define name="responsibility-element">
        <element name="RESPONSIBILITY">
            <ref name="ID-attribute"/>
            <ref name="resp-content"/>
            <ref name="workStatus-content"/>
            <ref name="workValue-content"/>
            <interleave>
                <group>
                    <ref name="date-element"/>
                    <zeroOrMore>
                        <ref name="item-element"/>
                    </zeroOrMore>
                </group>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="item-element">
        <element name="ITEM">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <ref name="corrquoteitem-group"/>
                        <text></text>
                    </choice>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="resp-content">
        <attribute name="RESP" a:defaultValue="IMG">
            <choice>
                <value type="token">IMG</value>
                <value type="token">SRF</value>
                <value type="token">PDC</value>
                <value type="token">KDC</value>
                <value type="token">ANM</value>
                <value type="token">CNM</value>
                <value type="token">KJB</value>
                <value type="token">TJB</value>
                <value type="token">JAH</value>
                <value type="token">MMM</value>
                <value type="token">SSB</value>
                <value type="token">SIB</value>
                <value type="token">MEL</value>
                <value type="token">JKW</value>
                <value type="token">KKC</value>
                <value type="token">PMB</value>
                <value type="token">TTC</value>
                <value type="token">KAH</value>
                <value type="token">JAW</value>
                <value type="token">SMH</value>
                <value type="token">SYS</value>
                <value type="token">HJM</value>
                <value type="token">CEL</value>
                <value type="token">JSC</value>
                <value type="token">PHD</value>
                <value type="token">AHM</value>
                <value type="token">SJW</value>
                <value type="token">JEB</value>
                <value type="token">SLT</value>
                <value type="token">BAA</value>
                <value type="token">CJH</value>
                <value type="token">JDS</value>
                <value type="token">MEB</value>
                <value type="token">NLG</value>
                <value type="token">CLC</value>
                <value type="token">GCG</value>
                <value type="token">KNT</value>
                <value type="token">JEC</value>
                <value type="token">RSC</value>
                <value type="token">SIR</value>
                <value type="token">ECG</value>
                <value type="token">SLB</value>
                <value type="token">CAG</value>
                <value type="token">MKB</value>
                <value type="token">OSM</value>
                <value type="token">DBH</value>
                <value type="token">KGH</value>
                <value type="token">JJD</value>
                <value type="token">DRG</value>
                <value type="token">NCK</value>
                <value type="token">DLK</value>
                <value type="token">AFP</value>
                <value type="token">KLH</value>
                <value type="token">CEE</value>
                <value type="token">TRN</value>
                <value type="token">RJR</value>
                <value type="token">LMS</value>
                <value type="token">JCA</value>
                <value type="token">JES</value>
                <value type="token">JLT</value>
                <value type="token">KGS</value>
                <value type="token">RJB</value>
                <value type="token">DMH</value>
                <value type="token">MAM</value>
                <value type="token">LKD</value>
                <value type="token">ARP</value>
                <value type="token">KDM</value>
                <value type="token">BJA</value>
                <value type="token">SEV</value>
                <value type="token">AJF</value>
                <value type="token">AGH</value>
                <value type="token">RTM</value>
                <value type="token">LM2</value>
                <value type="token">MRS</value>
                <value type="token">KEH</value>
                <value type="token">CLJ</value>
                <value type="token">JCR</value>
                <value type="token">TCD</value>
                <value type="token">EAQ</value>
                <value type="token">DEK</value>
                <value type="token">BHL</value>
                <value type="token">ALR</value>
                <value type="token">SWK</value>
                <value type="token">JLP</value>
                <value type="token">ACF</value>
                <value type="token">JSE</value>
                <value type="token">MPO</value>
                <value type="token">KCS</value>
                <value type="token">ARC</value>
                <value type="token">AEG</value>
                <value type="token">AVU</value>
                <value type="token">LJH</value>
                <value type="token">KSN</value>
                <value type="token">EWD</value>
                <value type="token">CSK</value>
                <value type="token">JBB</value>
                <value type="token">PAD</value>
                <value type="token">CMD</value>
                <value type="token">CJG</value>
                <value type="token">JRW</value>
                <value type="token">MCA</value>
                <value type="token">AWI</value>
                <value type="token">SKR</value>
                <value type="token">DHA</value>
                <value type="token">SDU</value>
                <value type="token">KGL</value>
                <value type="token">EMH</value>
                <value type="token">AAC</value>
                <value type="token">AJD</value>
                <value type="token">PIH</value>
                <value type="token">GRA</value>
                <value type="token">KFA</value>
                <value type="token">JMA</value>
                <value type="token">CNO</value>
                <value type="token">KSM</value>
                <value type="token">NFS</value><a:documentation>Nora Foster Stovel</a:documentation>
                <value type="token">KME</value><a:documentation>Karyn Huenemann</a:documentation>
                <value type="token">KLM</value><a:documentation>Katie Louise McCullough</a:documentation>
                <value type="token">GLN</value><a:documentation>Graeme Northcote</a:documentation>
                <value type="token">SAH</value><a:documentation>Susan Hesemeier</a:documentation>
                <value type="token">MKD</value><a:documentation>Michelle Di Cintio</a:documentation>
                <value type="token">KMO</value><a:documentation>Kristine Moruzi</a:documentation>
                <value type="token">LSW</value><a:documentation>Larissa Swayze</a:documentation>
                <value type="token">NPA</value><a:documentation>Nadine Adelaar</a:documentation>
                <value type="token">RMB</value><a:documentation>Rebecca Blain</a:documentation>
                <value type="token">JAR</value><a:documentation>Jessica Rattcliffe</a:documentation>
                <value type="token">BJM</value><a:documentation>Breanna Mroczeck</a:documentation>
                <value type="token">DEL</value><a:documentation>Elena Dergacheva</a:documentation>
                
                <!-- Documentation (in progress)
                    <value type="token">ACF</value>
                    <value type="token">JSE</value><a:documentation>Jana Smith Elford</a:documentation>
                    <value type="token">MPO</value><a:documentation>Mariana Paredes-Olea</a:documentation>
                    <value type="token">KCS</value>
                    <value type="token">ARC</value>
                    <value type="token">AEG</value><a:documentation>Alexandra Guselle</a:documentation>
                    <value type="token">AVU</value><a:documentation>Alison Uttley</a:documentation>
                    <value type="token">LJH</value><a:documentation>Lisa Hennigar</a:documentation>
                    <value type="token">KSN</value><a:documentation>Kayla Snyder</a:documentation>
                    <value type="token">EWD</value><a:documentation>Eric Drebit</a:documentation>
                    <value type="token">CSK</value><a:documentation>Caley Skinner</a:documentation>
                    <value type="token">JBB</value><a:documentation>Justine Baskey</a:documentation>
                    <value type="token">PAD</value><a:documentation>Patricia Demers</a:documentation>
                    <value type="token">CMD</value><a:documentation>Cecily Devereux</a:documentation>
                    <value type="token">CJG</value><a:documentation>Carole Gerson</a:documentation>
                    <value type="token">JRW</value><a:documentation>Janice Williamson</a:documentation>
                    <value type="token">MCA</value><a:documentation>Marie Carriere</a:documentation>
                    <value type="token">AWI</value><a:documentation>Ann Wilson</a:documentation>
                    <value type="token">SKR</value><a:documentation>Sidney Kruth</a:documentation>
                    <value type="token">DHA</value><a:documentation>Dorothy Hadfield</a:documentation>
                    <value type="token">SDU</value><a:documentation>Scott Duchessne</a:documentation>
                    <value type="token">PIH</value><a:documentation>Paul Hjartarson</a:documentation>
                    <value type="token">GRA</value><a:documentation>GRA training</a:documentation>
                    <value type="token">AAC</value><a:documentation>Aldora Cole</a:documentation>
                    <value type="token">EMH</value><a:documentation>Emily Hass</a:documentation>
                    <value type="token">KGL</value><a:documentation>Kate Lane-Smith</a:documentation>
                    <value type="token">NFS</value><a:documentation>Nora Foster Stovel</a:documentation>
                    <value type="token">KME</value><a:documentation>Karyn Huenemann</a:documentation>
                    <value type="token">MKD</value><a:documentation>Michelle Di Cintio</a:documentation>
                    <value type="token">LSW</value><a:documentation>Larissa Swayze</a:documentation>
                    <value type="token">NPA</value><a:documentation>Nadine Adelaar</a:documentation>
                    <value type="token">RMB</value><a:documentation>Rebecca Blain</a:documentation>
                    <value type="token">JAR</value><a:documentation>Jessica Rattcliffe</a:documentation>
                    <value type="token">BJM</value><a:documentation>Breanna Mroczeck</a:documentation>
                    <value type="token">DEL</value><a:documentation>Elena Dergacheva</a:documentation> -->
                
            </choice>
        </attribute>
    </define>

    <define name="workStatus-content">
        <attribute name="WORKSTATUS" a:defaultValue="SUB">
            <choice>
                <value type="token">SUB</value>
                <value type="token">RWT</value>
                <value type="token">CAS</value>
                <value type="token">RBV</value>
                <value type="token">CFT</value>
                <value type="token">CFB</value>
                <value type="token">CFC</value>
                <value type="token">REV</value>
                <value type="token">OLD</value>
                <value type="token">PUB</value>
                <value type="token">ENH</value>
            </choice>
        </attribute>
    </define>

    <define name="workValue-content">
        <attribute name="WORKVALUE" a:defaultValue="I">
            <choice>
                <value>I</value>
                <value>P</value>
                <value>C</value>
                <value>O</value>
            </choice>
        </attribute>
    </define>

    <define name="l-element">
        <element name="L">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="ENJAMB"/>
            </optional>
            <!--CDATA-->
            <optional>
                <attribute name="MET"/>
            </optional>
            <!--CDATA-->
            <optional>
                <attribute name="REAL"/>
            </optional>
            <!--CDATA-->
            <optional>
                <attribute name="RHYME"/>
            </optional>
            <!--CDATA-->
            <ref name="part-content"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <!--<ref name="name-element"/> included in Div1-inclusion-->
                        <!--<ref name="rs-element"/> included in Div1-inclusion-->
                        <ref name="time-element"/>
                        <!--<ref name="corr-element"/> included in Div1-inclusion-->
                        <!--<ref name="emph-element"/> included in Div1-inclusion-->
                        <!--<ref name="foreign-element"/> included in Div1-inclusion-->
                        <!--<ref name="soCalled-element"/> included in Div1-inclusion-->
                        <!--<ref name="quote-element"/> included in Div1-inclusion-->
                        <!--<ref name="topic-element"/> included in Div1-inclusion-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="part-content">
        <attribute name="PART" a:defaultValue="N">
            <choice>
                <value>N</value>
                <value>Y</value>
                <value>I</value>
                <value>M</value>
                <value>F</value>
            </choice>
        </attribute>
    </define>

    <define name="lg-element">
        <element name="LG">
            <ref name="ID-attribute"/>
            <attribute name="TYPE"/>
            <!-- CDATA and check #CURRENT occurrence -->
            <attribute name="ORG" a:defaultValue="UNIFORM">
                <choice>
                    <value>UNIFORM</value>
                    <value>COMPOSITE</value>
                </choice>
            </attribute>
            <attribute name="SAMPLE" a:defaultValue="COMPLETE">
                <choice>
                    <value>COMPLETE</value>
                    <value>INITIAL</value>
                    <value>MEDIAL</value>
                    <value>FINAL</value>
                    <value>UNKNOWN</value>
                </choice>
            </attribute>
            <ref name="part-content"/>
            <optional>
                <attribute name="MET"/>
            </optional>
            <!--CDATA-->
            <optional>
                <attribute name="REAL"/>
            </optional>
            <!--CDATA-->
            <optional>
                <attribute name="RHYME"/>
            </optional>
            <!--CDATA-->
            <interleave>
                <group>
                    <ref name="head-element"/>
                    <oneOrMore>
                        <choice>
                            <ref name="l-element"/>
                            <ref name="lg-element"/>
                        </choice>
                    </oneOrMore>
                </group>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="head-element">
        <element name="HEAD">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="TYPE"/>
            </optional>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <!-- <ref name="name-element"/> included in Div1 inclusion -->
                        <!-- <ref name="rs-element"/> included in Div1 inclusion -->
                        <!-- <ref name="corr-element"/> included in Div1 inclusion -->
                        <!-- <ref name="emph-element"/> included in Div1 inclusion -->
                        <!-- <ref name="foreign-element"/> included in Div1 inclusion -->
                        <!-- <ref name="soCalled-element"/> included in Div1 inclusion -->
                        <!-- <ref name="quote-element"/> included in Div1 inclusion -->
                        <!-- <ref name="topic-element"/> included in Div1 inclusion -->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="p-element">
        <element name="P">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="date-element"/>
                        <ref name="dateStruct-element"/>
                        <ref name="dateRange-element"/>
                        <ref name="time-element"/>
                        <!--<ref name="name-element"/>-->
                        <!--<ref name="orgName-element"/>-->
                        <!--<ref name="place-element"/>-->
                        <!--<ref name="emph-element"/>-->
                        <!--<ref name="foreign-element"/>-->
                        <!--<ref name="soCalled-element"/>-->
                        <!--<ref name="quote-element"/>-->
                        <!--<ref name="corr-element"/>-->
                        <!--<ref name="rs-element"/>-->
                        <!--<ref name="title-element"/>-->
                        <ref name="lg-element"/>
                        <ref name="l-element"/>
                        <!--<ref name="topic-element"/>-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="dateStruct-element">
        <!-- dateStruct not used anymore by authors, can be removed from 
            schemas after a batch change.-->
        <element name="DATESTRUCT">
            <ref name="date-attributes"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="year-element"/>
                        <ref name="ocassion-element"/>
                        <ref name="season-element"/>
                        <ref name="month-element"/>
                        <ref name="time-element"/>
                        <ref name="week-element"/>
                        <ref name="day-element"/>
                    </choice>
                </zeroOrMore>
                <ref name="narrow-inclusion"/>
                <!-- narrow inclusion: 
                   from Div0 and Div1 except elements in DTD exclusion: 
                   dateStruct , dateRange , keywordClass , name , orgName , 
                   place , date , scholarNote , topic? -->
            </interleave>
        </element>
    </define>

    <define name="datestruct-content">
        <ref name="ID-attribute"/>
        <optional>
            <attribute name="VALUE"/>
        </optional>
        <!-- CDATA in DTD -->
        <optional>
            <attribute name="TYPE"/>
        </optional>
        <ref name="reg-attribute"/>
        <ref name="certainty-content"/>
    </define>

    <define name="year-element">
        <element name="YEAR">
            <ref name="datestruct-content"/>
            <interleave>
                <ref name="narrow-inclusion"/>
                <text/>
            </interleave>
        </element>
    </define>

    <define name="ocassion-element">
        <element name="OCCASION">
            <ref name="datestruct-content"/>
            <interleave>
                <ref name="narrow-inclusion"/>
                <text/>
            </interleave>
        </element>
    </define>

    <define name="season-element">
        <element name="SEASON">
            <ref name="datestruct-content"/>
            <interleave>
                <ref name="narrow-inclusion"/>
                <text/>
            </interleave>
        </element>
    </define>

    <define name="month-element">
        <element name="MONTH">
            <ref name="datestruct-content"/>
            <interleave>
                <ref name="narrow-inclusion"/>
                <text/>
            </interleave>
        </element>
    </define>

    <define name="week-element">
        <element name="WEEK">
            <ref name="datestruct-content"/>
            <interleave>
                <ref name="narrow-inclusion"/>
                <text/>
            </interleave>
        </element>
    </define>

    <define name="day-element">
        <element name="DAY">
            <ref name="datestruct-content"/>
            <interleave>
                <ref name="narrow-inclusion"/>
                <text/>
            </interleave>
        </element>
    </define>

    <define name="dateRange-element">
        <!-- exclusion of dateStruct , 
        dateRange , keywordClass , name , orgName , place , date , 
        scholarNote , topic? -->
        <element name="DATERANGE">
            <ref name="ID-attribute"/>
            <ref name="calendar-content"/>
            <ref name="certainty-content"/>
            <optional>
                <attribute name="FROM"/>
            </optional>
            <optional>
                <attribute name="TO"/>
            </optional>
            <optional>
                <attribute name="EXACT">
                    <choice>
                        <value>TO</value>
                        <value>FROM</value>
                        <value>BOTH</value>
                        <value>NEITHER</value>
                    </choice>
                </attribute>
            </optional>
            <interleave>
                <text/>
                <ref name="narrow-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="orgName-element">
        <element name="ORGNAME">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="STANDARD"/>
            </optional>
            <optional>
                <attribute name="ORGTYPE"/>
            </optional>
            <ref name="reg-attribute"/>
            <mixed>
                <!-- changed interleave to mixed, and deleted <text> -->
                <ref name="narrow-inclusion"/>
            </mixed>
        </element>
    </define>

    <define name="place-element">
        <!-- has exclusion -->
        <element name="PLACE">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <element name="PLACENAME">
                            <ref name="placeChild-content"/>
                        </element>
                        <ref name="address-element"/>
                        <element name="SETTLEMENT">
                            <ref name="placeChild-content"/>
                        </element>
                        <element name="REGION">
                            <ref name="placeChild-content"/>
                        </element>
                        <element name="GEOG">
                            <ref name="placeChild-content"/>
                        </element>
                        <element name="AREA">
                            <ref name="placeChild-content"/>
                        </element>
                        <ref name="narrow-inclusion"/>
                    </choice>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="placeChild-content">
        <ref name="ID-attribute"/>
        <optional>
            <attribute name="CURRENT"/>
        </optional>
        <ref name="reg-attribute"/>
        <interleave>
            <text/>
            <ref name="narrow-inclusion"/>
        </interleave>
    </define>

    <define name="title-element">
        <element name="TITLE">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="TITLETYPE">
                    <choice>
                        <value>MONOGRAPHIC</value>
                        <value>ANALYTIC</value>
                        <value>JOURNAL</value>
                        <value>SERIES</value>
                        <value>UNPUBLISHED</value>
                    </choice>
                </attribute>
            </optional>
            <ref name="reg-attribute"/>
            <optional>
                <attribute name="REND"/>
            </optional>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <!--<ref name="title-element"/>-->
                        <ref name="date-element"/>
                        <!--<ref name="name-element"/>-->
                        <!--<ref name="emph-element"/>-->
                        <!--<ref name="foreign-element"/>-->
                        <!--<ref name="soCalled-element"/>-->
                        <!--<ref name="quote-element"/>-->
                        <!--<ref name="topic-element"/>-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="topic-element">
        <element name="TOPIC">
            <!-- exclusion of dateStruct , dateRange , 
            keywordClass , name , topic , orgName , place , scholarNote -->
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="STANDARD"/>
            </optional>
            <!-- CDATA -->
            <interleave>
                <text/>
                <ref name="narrow-inclusion"/>
            </interleave>
        </element>
    </define>

    <!-- Div0 starts -->

    <define name="Div0-element">
        <!-- this Div0 is used in events only -->
        <element name="DIV0">
            <ref name="ID-attribute"/>
            <interleave>
                <group>
                    <optional>
                        <ref name="heading-element"/>
                    </optional>
                    <zeroOrMore>
                        <ref name="Div1-element"/>
                    </zeroOrMore>
                </group>
                <ref name="Div0-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="Div1-element">
        <element name="DIV1">
            <ref name="ID-attribute"/>
            <interleave>
                <oneOrMore>
                    <group>
                        <choice>
                            <optional>
                                <ref name="heading-element"/>
                            </optional>
                            <zeroOrMore>
                                <ref name="chronEvent-element"/>
                            </zeroOrMore>
                            <zeroOrMore>
                                <ref name="worksCited-element"/>
                            </zeroOrMore>
                        </choice>
                    </group>
                </oneOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="heading-element">
        <!-- exclusion: datestruct, daterange, date,
        keywordclass, name, orgname, place, topic , bibcit (bio DTD)-->
        <element name="HEADING">
            <ref name="ID-attribute"/>
            <zeroOrMore>
                <choice>
                    <text/>
                    <ref name="narrow-inclusion"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <define name="chronEvent-element">
        <element name="CHRONEVENT">
            <ref name="ID-attribute"/>
            <interleave>
                <group>
                    <ref name="chronStruct-element"/>
                    <oneOrMore>
                        <choice>
                            <ref name="dataStruct-element"/>
                            <ref name="shortProse-element"/>
                            <zeroOrMore>
                                <ref name="responsibility-element"/>
                            </zeroOrMore>
                        </choice>
                    </oneOrMore>
                </group>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="chronStruct-element">
        <element name="CHRONSTRUCT">
            <ref name="ID-attribute"/>
            <ref name="chronColumnRelevance-content"/>
            <interleave>
                <group>
                    <choice>
                        <ref name="dateRange-element"/>
                        <ref name="dateStruct-element"/>
                        <ref name="date-element"/>
                    </choice>
                    <ref name="chronProse-element"/>
                </group>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="chronColumnRelevance-content">
        <attribute name="CHRONCOLUMN">
            <choice>
                <value>NATIONALINTERNATIONAL</value>
                <value>BRITISHWOMENWRITERS</value>
                <value>WRITINGCLIMATE</value>
                <value>SOCIALCLIMATE</value>
            </choice>
        </attribute>
        <attribute name="RELEVANCE">
            <choice>
                <value>SELECTIVE</value>
                <value>PERIOD</value>
                <value>DECADE</value>
                <value>COMPREHENSIVE</value>
            </choice>
        </attribute>
        <ref name="resp-content"/>
        <optional>
            <attribute name="CHRONCOLUMN1">
                <choice>
                    <value>NATIONALINTERNATIONAL1</value>
                    <value>BRITISHWOMENWRITERS1</value>
                    <value>WRITINGCLIMATE1</value>
                    <value>SOCIALCLIMATE1</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="CHRONCOLUMN2">
                <choice>
                    <value>NATIONALINTERNATIONAL2</value>
                    <value>BRITISHWOMENWRITERS2</value>
                    <value>WRITINGCLIMATE2</value>
                    <value>SOCIALCLIMATE2</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="CHRONCOLUMN3">
                <choice>
                    <value>NATIONALINTERNATIONAL3</value>
                    <value>BRITISHWOMENWRITERS3</value>
                    <value>WRITINGCLIMATE3</value>
                    <value>SOCIALCLIMATE3</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="RELEVANCE1">
                <choice>
                    <value>SELECTIVE1</value>
                    <value>PERIOD1</value>
                    <value>DECADE1</value>
                    <value>COMPREHENSIVE1</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="RELEVANCE2">
                <choice>
                    <value>SELECTIVE2</value>
                    <value>PERIOD2</value>
                    <value>DECADE2</value>
                    <value>COMPREHENSIVE2</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="RELEVANCE3">
                <choice>
                    <value>SELECTIVE3</value>
                    <value>PERIOD3</value>
                    <value>DECADE3</value>
                    <value>COMPREHENSIVE3</value>
                </choice>
            </attribute>
        </optional>
    </define>

    <define name="chronProse-element">
        <element name="CHRONPROSE">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <!-- <ref name="rs-element"/> repeated in div1 inclusion -->
                        <!-- <ref name="corr-element"/> repeated in div1 inclusion -->
                        <!-- <ref name="emph-element"/> repeated in div1 inclusion -->
                        <!-- <ref name="foreign-element"/> repeated in div0 inclusion-->
                        <!-- <ref name="soCalled-element"/> repeated in div0 inclusion -->
                        <!-- <ref name="title-element"/> repeated in div0 inclusion -->
                        <!-- <ref name="quote-element"/> repeated in div1 inclusion -->
                        <ref name="l-element"/>
                        <ref name="lg-element"/>
                        <ref name="dateStruct-element"/>
                        <ref name="date-element"/>
                        <ref name="dateRange-element"/>
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="dataStruct-element">
        <element name="DATASTRUCT">
            <ref name="ID-attribute"/>
            <mixed>
                <oneOrMore>
                    <ref name="dataItem-element"/>
                </oneOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </mixed>
        </element>
    </define>

    <define name="dataItem-element">
        <element name="DATAITEM">
            <ref name="ID-attribute"/>
            <interleave>
                <zeroOrMore>
                    <choice>
                        <text/>
                        <ref name="dateStruct-element"/>
                        <ref name="dateRange-element"/>
                        <ref name="date-element"/>
                        <!--<ref name="name-element"/>-->
                        <!--<ref name="place-element"/>-->
                        <!--<ref name="orgName-element"/>-->
                        <!--<ref name="rs-element"/>-->
                        <ref name="time-element"/>
                        <!--<ref name="corr-element"/>-->
                        <!--<ref name="emph-element"/>-->
                        <!--<ref name="foreign-element"/>-->
                        <!--<ref name="soCalled-element"/>-->
                        <!--<ref name="title-element"/>-->
                        <!--<ref name="quote-element"/>-->
                        <ref name="l-element"/>
                        <ref name="lg-element"/>
                        <!--<ref name="topic-element"/>-->
                    </choice>
                </zeroOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="shortProse-element">
        <element name="SHORTPROSE">
            <ref name="ID-attribute"/>
            <mixed>
                <oneOrMore>
                    <ref name="p-element"/>
                </oneOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </mixed>
        </element>
    </define>

    <define name="standard-element">
        <!-- exclusion: datestruct, daterange, date,
                                    keywordclass, name, orgname, place, topic (bio DTD)-->
        <element name="STANDARD">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="WROTEORPUBLISHEDAS">
                    <a:defaultValue>WROTEPUBLISHEDASYES</a:defaultValue>
                </attribute>
            </optional>
            <interleave>
                <text/>
                <ref name="Div0narrow-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="biogProse-element">
        <element name="BIOGPROSE">
            <ref name="ID-attribute"/>
            <interleave>
                <text/>
                <ref name="Div0-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="worksCited-element">
        <element name="WORKSCITED">
            <ref name="ID-attribute"/>
            <interleave>
                <oneOrMore>
                    <ref name="source-element"/>
                </oneOrMore>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </interleave>
        </element>
    </define>

    <define name="source-element">
        <element name="SOURCE">
            <ref name="ID-attribute"/>
            <mixed>
                <!--<text/>-->
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </mixed>
        </element>
    </define>

    <!-- Definition of elements mentioned in inclusions -->

    <define name="researchNote-element">
        <element name="RESEARCHNOTE">
            <mixed>
                <ref name="Div0-inclusion"/>
                <ref name="Div1-inclusion"/>
            </mixed>
        </element>
    </define>

    <define name="bibCit-element">
        <element name="BIBCIT">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="PLACEHOLDER"/>
            </optional>
            <optional>
                <attribute name="DBREF">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="QTDIN">
                    <value>QTDINYES</value>
                </attribute>
            </optional>
            <text/>
        </element>
    </define>

    <define name="scholarNote-element">
        <element name="SCHOLARNOTE">
            <ref name="ID-attribute"/>
            <oneOrMore>
                <ref name="p-element"/>
            </oneOrMore>
        </element>
    </define>

    <define name="keywordClass-element">
        <element name="KEYWORDCLASS">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="KEYWORDTYPE"/>
                <![CDATA[]]>
            </optional>
            <text/>
        </element>
    </define>

    <define name="bibCits-element">
        <element name="BIBCITS">
            <ref name="ID-attribute"/>
            <zeroOrMore>
                <choice>
                    <ref name="bibCit-element"/>
                    <ref name="researchNote-element"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <define name="lb-element">
        <element name="LB">
            <ref name="ID-attribute"/>
            <text/>
        </element>
    </define>

    <define name="sic-element">
        <element name="SIC">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="CORR"/>
            </optional>
            <text/>
        </element>
    </define>
    
    <define name="job-element">
        <element name="JOB">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="FAMILYBUSINESS" a:defaultValue="FAMILYBUSINESSYES">
                    <!-- check att DEFAULT value -->
                    <value>FAMILYBUSINESSYES</value>
                </attribute>
            </optional>
            <optional>
                <attribute name="CURRENTALTERNATIVETERM"/>
            </optional>
            <optional>
                <attribute name="HISTORICALTERM"/>
            </optional>
            <optional>
                <attribute name="HISTORICALTERMCONTEXTDATE"
                    a:annotation="The context and time period in which the historical term was in use"/>
            </optional>
            <ref name="reg-attribute"/>
            <mixed>
                <zeroOrMore>
                    <choice>
                        <!--<text/>-->
                        <element name="OCCUPATION">
                            <ref name="ID-attribute"/>
                            <mixed>
                                <oneOrMore>
                                    <choice>
                                        <zeroOrMore>
                                            <ref name="chronStruct-element"/>
                                        </zeroOrMore>
                                    </choice>
                                </oneOrMore>
                                <ref name="Div0-inclusion"/>
                                <ref name="Div1-inclusion"/>
                            </mixed>
                        </element>
                        <!-- member inclusion elements overlap -->
                        <ref name="Div0-inclusion"/>
                        <ref name="Div1-inclusion"/>                        
                    </choice>
                </zeroOrMore>
            </mixed>
        </element>
    </define>

    <define name="tGenre-element">
        <element name="TGENRE">
            <ref name="ID-attribute"/>
            <optional>
                <attribute name="GENRENAME">
                    <choice>
                        <value>ABRIDGEMENT</value>
                        <value>ACLEF</value>
                        <value>ACROSTIC</value>
                        <value>ADAPTATION</value>
                        <value>ADVENTUREWRITING</value>
                        <value>ADVERTISINGCOPY</value>
                        <value>AFTERPIECE</value>
                        <value>AFTERWORD</value>
                        <value>AGITPROP</value>
                        <value>ALLEGORY</value>
                        <value>ALMANAC</value>
                        <value>ANACREONTIC</value>
                        <value>ANAGRAM</value>
                        <value>ANNOTATION</value>
                        <value>ANSWER</value>
                        <value>ANTHEM</value>
                        <value>ANTHOLOGY</value>
                        <value>ANTIROMANCE</value>
                        <value>APHORISM</value>
                        <value>APOLOGY</value>
                        <value>ARTCRITICISM</value>
                        <value>AUTOBIOGRAPHY</value>
                        <value>BALLAD</value>
                        <value>BALLADE</value>
                        <value>BALLADOPERA</value>
                        <value>BALLET</value>
                        <value>BERGAMASQUE</value>
                        <value>BESTIARY</value>
                        <value>BIBLICALPARAPHRASE</value>
                        <value>BILDUNGSROMAN</value>
                        <value>BIOGRAPHICALDICTIONARY</value>
                        <value>BIOGRAPHY</value>
                        <value>BISEXUALFICTION</value>
                        <value>BLACKCOMEDY</value>
                        <value>BOUTSRIMES</value>
                        <value>BROADSIDE</value>
                        <value>BURLETTA</value>
                        <value>CABARET</value>
                        <value>CAPTIVITYNARRATIVE</value>
                        <value>CATECHISM</value>
                        <value>CHAPBOOK</value>
                        <value>CHARACTER</value>
                        <value>CHARADE</value>
                        <value>CHILDRENSLITERATURE</value>
                        <value>CLERIHEW</value>
                        <value>CLOSETDRAMA</value>
                        <value>COLOURINGBOOK</value>
                        <value>COMEDY</value>
                        <value>COMEDYOFHUMOURS</value>
                        <value>COMEDYOFINTRIGUE</value>
                        <value>COMEDYOFMANNERS</value>
                        <value>COMEDYOFMENACE</value>
                        <value>COMICBOOK</value>
                        <value>COMINGOUT</value>
                        <value>COMMONPLACEBOOK</value>
                        <value>COMPANION</value>
                        <value>COMPUTERPROGRAM</value>
                        <value>CONDITIONOFENGLANDNOVEL</value>
                        <value>CONDUCTLITERATURE</value>
                        <value>COOKBOOK</value>
                        <value>COURTSHIPFICTION</value>
                        <value>CRIMINOLOGY</value>
                        <value>DEDICATION</value>
                        <value>DETECTIVE</value>
                        <value>DEVOTIONAL</value>
                        <value>DIALOGUEORDEBATE</value>
                        <value>DIARY</value>
                        <value>DIALOGUEOFTHEDEAD</value>
                        <value>DICTIONARY</value>
                        <value>DIDACTIC</value>
                        <value>DIRECTORY</value>
                        <value>DISSERTATION</value>
                        <value>DOCUMENTARY</value>
                        <value>DOMESTIC</value>
                        <value>DRAMA</value>
                        <value>DRAMATICMONOLOGUE</value>
                        <value>DREAMVISION</value>
                        <value>DYSTOPIA</value>
                        <value>ECLOGUE</value>
                        <value>EDITING</value>
                        <value>ELEGY</value>
                        <value>ENCYCLOPAEDIA</value>
                        <value>EPIC</value>
                        <value>EPICTHEATRE</value>
                        <value>EPIGRAM</value>
                        <value>EPILOGUE</value>
                        <value>EPISODICLITERATURE</value>
                        <value>EPISTLE</value>
                        <value>EPISTOLARY</value>
                        <value>EPITAPH</value>
                        <value>EPITHALAMIUM</value>
                        <value>EPYLLION</value>
                        <value>EROTICAPORNOGRAPHY</value>
                        <value>ESSAY</value>
                        <value>EULOGY</value>
                        <value>EXHIBITIONCATALOGUE</value>
                        <value>EXPRESSIONISTWRITING</value>
                        <value>FABLE</value>
                        <value>FABLIAU</value>
                        <value>FAIRYTALE</value>
                        <value>FANTASY</value>
                        <value>FARCE</value>
                        <value>FEMINIST</value>
                        <value>FEMINISTTHEORY</value>
                        <value>FICTION</value>
                        <value>FILMTVSCRIPT</value>
                        <value>FOLKSONG</value>
                        <value>GARDENINGBOOK</value>
                        <value>GENEALOGY</value>
                        <value>GEORGIC</value>
                        <value>GHOSTSTORY</value>
                        <value>GIFTBOOK</value>
                        <value>GOTHIC</value>
                        <value>GOVERNMENTREPORT</value>
                        <value>GRAMMAR</value>
                        <value>GRAVEYARDPOETRY</value>
                        <value>GUERILLATHEATRE</value>
                        <value>GUIDEBOOK</value>
                        <value>HAGIOGRAPHY</value>
                        <value>HAIKU</value>
                        <value>HARLEQUINADE</value>
                        <value>HEROIC</value>
                        <value>HISTORICAL</value>
                        <value>HISTORY</value>
                        <value>HYMN</value>
                        <value>IMITATION</value>
                        <value>IMPROVISATION</value>
                        <value>INDUSTRIALNOVEL</value>
                        <value>INTRODUCTION</value>
                        <value>JOURNALISM</value>
                        <value>JUVENILIA</value>
                        <value>KITCHENSINKDRAMA</value>
                        <value>KUNSTLERROMAN</value>
                        <value>LAIS</value>
                        <value>LAMPOON</value>
                        <value>LEGALWRITING</value>
                        <value>LEGENDFOLKTALE</value>
                        <value>LESBIAN</value>
                        <value>LETTER</value>
                        <value>LETTERSFROMTHEDEADTOTHELIVING</value>
                        <value>LIBRETTO</value>
                        <value>LITERARYCRITICISM</value>
                        <value>LITURGY</value>
                        <value>LOVE</value>
                        <value>LYRIC</value>
                        <value>MAGICREALIST</value>
                        <value>MANIFESTO</value>
                        <value>MANUAL</value>
                        <value>MAP</value>
                        <value>MASQUE</value>
                        <value>MEDICALWRITING</value>
                        <value>MELODRAMA</value>
                        <value>MIXEDMEDIA</value>
                        <value>MOCKFORMS</value>
                        <value>MONOLOGUE</value>
                        <value>MORALITYMYSTERYPLAY</value>
                        <value>MULTIMEDIA</value>
                        <value>MUSICOLOGY</value>
                        <value>MYSTERY</value>
                        <value>MYTH</value>
                        <value>NARRATIVEPOETRY</value>
                        <value>NATIONALISTFICTION</value>
                        <value>NATIONALTALE</value>
                        <value>NOTEBOOK</value>
                        <value>NOVEL</value>
                        <value>NOVELLA</value>
                        <value>NURSERYRHYME</value>
                        <value>OBITUARY</value>
                        <value>OCCASIONALPOETRY</value>
                        <value>ODE</value>
                        <value>ONEACTPLAY</value>
                        <value>OPERA</value>
                        <value>ORATORIO</value>
                        <value>ORIENTAL</value>
                        <value>PAGEANT</value>
                        <value>PANEGYRIC</value>
                        <value>PANTOMIME</value>
                        <value>PARABLE</value>
                        <value>PARATEXTS</value>
                        <value>PARLIAMENTARYREPORT</value>
                        <value>PARODY</value>
                        <value>PASTORAL</value>
                        <value>PEDAGOGY</value>
                        <value>PERFORMANCEPOETRY</value>
                        <value>PERIODICAL</value>
                        <value>PETITION</value>
                        <value>PHILOSOPHICAL</value>
                        <value>PHILOSOPHY</value>
                        <value>PICARESQUE</value>
                        <value>PINDARIC</value>
                        <value>POETRY</value>
                        <value>POLEMIC</value>
                        <value>POLITICALWRITING</value>
                        <value>POPULAR</value>
                        <value>PRAYER</value>
                        <value>PREFATORYPIECE</value>
                        <value>PROGRAMNOTES</value>
                        <value>PROLETARIANWRITING</value>
                        <value>PROLOGUE</value>
                        <value>PROPAGANDA</value>
                        <value>PROPHECY</value>
                        <value>PSALM</value>
                        <value>PSYCHOANALYTICAL</value>
                        <value>QUIZ</value>
                        <value>RADIODRAMA</value>
                        <value>REALIST</value>
                        <value>REGIONAL</value>
                        <value>RELIGIOUS</value>
                        <value>REVIEW</value>
                        <value>REVUE</value>
                        <value>RIDDLE</value>
                        <value>ROMANCE</value>
                        <value>SAGEWRITING</value>
                        <value>SATIRE</value>
                        <value>SCHOLARSHIP</value>
                        <value>SCHOOLFICTION</value>
                        <value>SCIENCEFICTION</value>
                        <value>SCIENTIFICWRITING</value>
                        <value>SCRAPBOOK</value>
                        <value>SENSATIONNOVEL</value>
                        <value>SENSIBILITY</value>
                        <value>SENTIMENTAL</value>
                        <value>SEQUEL</value>
                        <value>SERMON</value>
                        <value>SEXUALAWAKENINGFICTION</value>
                        <value>SHORTSTORY</value>
                        <value>SILVERFORKNOVEL</value>
                        <value>SKETCH</value>
                        <value>SKETCHBOOK</value>
                        <value>SLAVENARRATIVE</value>
                        <value>SOCIALSCIENCE</value>
                        <value>SONG</value>
                        <value>SONNET</value>
                        <value>SPEECH</value>
                        <value>STAGEREVIEW</value>
                        <value>TESTIMONY</value>
                        <value>TEXTBOOK</value>
                        <value>THEATREOFCRUELTY</value>
                        <value>THEATREOFTHEABSURD</value>
                        <value>THEOLOGY</value>
                        <value>THESAURUS</value>
                        <value>THRILLER</value>
                        <value>TOPOGRAPHICALPOETRY</value>
                        <value>TRACTPAMPHLET</value>
                        <value>TRAGEDY</value>
                        <value>TRAGICOMEDY</value>
                        <value>TRANSLATION</value>
                        <value>TRAVELWRITING</value>
                        <value>TREATISE</value>
                        <value>UTOPIA</value>
                        <value>VERSENOVEL</value>
                        <value>VIGNETTE</value>
                        <value>VILLANELLE</value>
                        <value>YOUNGADULTWRITING</value>
                    </choice>
                </attribute>
            </optional>
            <optional>
                <attribute name="PROPOSEDALTERNATIVENAME"/>
            </optional>
            <text/>
        </element>
    </define>

    <define name="xptr-element">
        <element name="XPTR">
            <ref name="links-content"/>
            <empty/>
        </element>
    </define>

    <define name="links-content">
        <ref name="ID-attribute"/>
        <optional>
            <attribute name="DATE"/>
            <!--CDATA-->
        </optional>
        <optional>
            <attribute name="DOC"/>
            <!-- ENTITY -->
        </optional>
        <attribute name="FROM" a:defaultValue="ROOT">
            <value>ROOT</value>
        </attribute>
        <attribute name="TO" a:defaultValue="DITTO">
            <value>DITTO</value>
        </attribute>
        <ref name="resp-content"/>
        <optional>
            <attribute name="URL"/>
        </optional>
    </define>

    <define name="xref-element">
        <element name="XREF">
            <ref name="links-content"/>
            <zeroOrMore>
                <choice>
                    <text/>
                    <ref name="address-element"/>
                    <ref name="date-element"/>
                    <ref name="name-element"/>
                    <ref name="rs-element"/>
                    <ref name="time-element"/>
                    <ref name="corr-element"/>
                    <ref name="emph-element"/>
                    <ref name="foreign-element"/>
                    <ref name="soCalled-element"/>
                    <ref name="docTitle-element"/>
                    <ref name="xptr-element"/>
                    <ref name="xref-element"/>
                    <ref name="quote-element"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <!-- Inclusions start -->

    <define name="Div0-inclusion">
        <zeroOrMore>
            <choice>
                <ref name="researchNote-element"/>
                <ref name="title-element"/>
                <ref name="bibCit-element"/>
                <ref name="scholarNote-element"/>
                <ref name="keywordClass-element"/>
                <ref name="bibCits-element"/>
                <ref name="lb-element"/>
            </choice>
        </zeroOrMore>
    </define>

    <define name="Div1-inclusion">
        <zeroOrMore>
            <choice>
                <ref name="name-element"/>
                <ref name="place-element"/>
                <ref name="orgName-element"/>
                <ref name="rs-element"/>
                <ref name="sic-element"/>
                <ref name="corr-element"/>
                <ref name="emph-element"/>
                <ref name="quote-element"/>
                <ref name="foreign-element"/>
                <ref name="soCalled-element"/>
                <ref name="topic-element"/>
                <ref name="tGenre-element"/>
                <ref name="job-element"/>
                <ref name="xptr-element"/>
                <ref name="xref-element"/>
            </choice>
        </zeroOrMore>
    </define>

    <define name="narrow-inclusion">
        <!-- Inclusion from Div0 and Div1 except 
        elements in <date>*, keywordClass, name, 
        orgName, place, scholarNote, topic -->
        <zeroOrMore>
            <choice>
                <ref name="researchNote-element"/>
                <ref name="title-element"/>
                <ref name="bibCit-element"/>
                <ref name="bibCits-element"/>
                <ref name="lb-element"/>
                <ref name="rs-element"/>
                <ref name="sic-element"/>
                <ref name="corr-element"/>
                <ref name="emph-element"/>
                <ref name="quote-element"/>
                <ref name="foreign-element"/>
                <ref name="soCalled-element"/>
                <ref name="tGenre-element"/>
                <ref name="xptr-element"/>
                <ref name="xref-element"/>
            </choice>
        </zeroOrMore>
    </define>

    <define name="Div0narrow-inclusion">
        <!-- Inclusion from Div0 except 
            elements in <date>*, keywordClass, name, 
            orgName, place, scholarNote, topic -->
        <zeroOrMore>
            <choice>
                <ref name="researchNote-element"/>
                <ref name="title-element"/>
                <ref name="bibCit-element"/>
                <ref name="bibCits-element"/>
                <ref name="lb-element"/>
            </choice>
        </zeroOrMore>
    </define>

    <!-- common attributes -->

    <define name="ID-attribute">
        <optional>
            <attribute name="ID">
                <data type="ID"/>
            </attribute>
        </optional>
    </define>

    <define name="reg-attribute">
        <optional>
            <attribute name="REG" a:documentation="Regularized value"/>
        </optional>
    </define>

    <define name="sex-attribute">
        <attribute name="SEX">
            <choice>
                <value>FEMALE</value>
                <value>MALE</value>
                <value>UNKNOWN</value>
                <value>TRANSGENDERED</value>
            </choice>
        </attribute>
    </define>

    <define name="person-attribute">
        <attribute name="PERSON">
            <choice>
                <value>HISTORICALFIGURE</value>
                <value>WRITER</value>
                <value>BRWWRITER</value>
                <value>IBRWRITER</value>
            </choice>
        </attribute>
    </define>

    <!-- Entities begin -->

    <!--    <define name="BasicLatinToken">
        <data type="token">
            <param name="pattern">[\p{IsBasicLatin}-[\P{L}]]*</param>
        </data>
    </define>
    
    <define name="GreekToken">
        <data type="token">
            <param name="pattern">[\p{IsGreek}-[\P{L}]]*</param>
        </data>
    </define>
    
    <define name="Latin-1SupplementToken">
        <data type="token">
            <param name="pattern">[\p{IsLatin-1Supplement}-[\P{L}]]*</param>
        </data>
    </define>
    
    <!-\-<define name="LatinExtended-AToken">
        <data type="token">
            <param name="pattern">[\p{IsLatinExtended-A}-[\P{L}]]*</param>
        </data>
    </define>-\->
    
    <define name="LatinExtendedAdditionalToken">
        <data type="token">
            <param name="pattern">[\p{IsLatinExtendedAdditional}-[\P{L}]]*</param>
        </data>
    </define>
    
    <define name="LatinExtended-BToken">
        <data type="token">
            <param name="pattern">[\p{IsLatinExtended-B}-[\P{L}]]*</param>
        </data>
    </define>
    
    <define name="NumberFormsToken">
        <data type="token">
            <param name="pattern">[\p{IsNumberForms}-[\P{L}]]*</param>
        </data>
    </define>-->

</grammar>
