schema/rsc.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    * MRB: Thu 22-May-2014
    *
    * Purpose: RELAX NG schema to model RSC libraries and archives records
    *
    * Description: A corpus of 4,798 RSC libraries and archives records was used to generate a RELAX NG schema that modelled the combined corpus of
    * documents.
-->

<!-- root <grammar> element -->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <!-- <start> element pattern -->
    <start>
        <element name="record">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">record is the root element for each library or archive
                record.</a:documentation>
            <element name="label">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">label is the name of the library or
                    archive.</a:documentation>
                <text/>
            </element>
            <element name="institutionType">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">institution is the institution type: Library, Archives, or
                    Combined.</a:documentation>
                <choice>
                    <value>Library</value>
                    <value>Archives</value>
                    <value>Combined</value>
                </choice>
            </element>
            <element name="group">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">group is the group type: Libraries, Archives, or
                    Combined.</a:documentation>
                <choice>
                    <value>Libraries</value>
                    <value>Archives</value>
                    <value>Combined</value>
                </choice>
            </element>
            <element name="libraryType">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">libraryType is the type of library: Academic, Public, or
                    Special.</a:documentation>
                <choice>
                    <value>Academic</value>
                    <value>Public</value>
                    <value>Special</value>
                </choice>
            </element>
            <element name="subGroup">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">subGroup is the subgroup type: Academic libraries, Public
                    libraries, or Special libraries.</a:documentation>
                <choice>
                    <value>Academic libraries</value>
                    <value>Public libraries</value>
                    <value>Special libraries</value>
                </choice>
            </element>
            <element name="community">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">community is the name of the community that the library
                    or archive is located in.</a:documentation>
                <text/>
            </element>
            <element name="provCode">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provCode is the two-letter provincial or territorial code
                    for the province or territory that the library or archive is located in.</a:documentation>
                <choice>
                    <value>AB</value>
                    <value>BC</value>
                    <value>MB</value>
                    <value>NB</value>
                    <value>NL</value>
                    <value>NS</value>
                    <value>NT</value>
                    <value>NU</value>
                    <value>ON</value>
                    <value>PE</value>
                    <value>QC</value>
                    <value>SK</value>
                    <value>YT</value>
                </choice>
            </element>
            <element name="province">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">province is the name of the province or territory that the
                    library or archive is located in.</a:documentation>
                <choice>
                    <value>Alberta</value>
                    <value>British Columbia</value>
                    <value>Manitoba</value>
                    <value>New Brunswick</value>
                    <value>Newfoundland and Labrador</value>
                    <value>Northwest Territories</value>
                    <value>Nova Scotia</value>
                    <value>Nunavut</value>
                    <value>Ontario</value>
                    <value>Prince Edward Island</value>
                    <value>Québec</value>
                    <value>Saskatchewan</value>
                    <value>Yukon</value>
                </choice>
            </element>
            <element name="population">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">population is the population served of the library or
                    archive.</a:documentation>
                <text/>
            </element>
            <element name="startDate">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">startDate is the year of establishment of the library or
                    archive.</a:documentation>
                <text/>
            </element>
            <element name="url">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">url is the URL (uniform resource locator) or Web address
                    of the library or archive.</a:documentation>
                <data type="anyURI"/>
            </element>
            <element name="latitude">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">latitude is the geographic coordinate of latitude in
                    decimal degrees of the centroid of the community that the library or archive is located in.</a:documentation>
                <data type="decimal"/>
            </element>
            <element name="longitude">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">longitude is the geographic coordinate of longitude in
                    decimal degrees of the centroid of the community that the library or archive is located in.</a:documentation>
                <data type="decimal"/>
            </element>
            <element name="latLng">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">latLng is the geographic coordinates of latitude and
                    longitude in decimal degress, separated by a comma, of the centroid of the community that the library or archive is located
                    in.</a:documentation>
                <text/>
            </element>
        </element>
    </start>
</grammar>
