schema/z_test_xsd_entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  CANADIAN WRITING RESEARCH COLLABORATORY - ENTITY SCHEMA
  Based on elements of EAC - CPF, MADS, and FOAF
  
  Schema Type: Relax NG Schema XML
  
  Version: 2012-04
  
  Summary: The present CWRC Entity Schema outlines a format for the description of persons, corporate bodies,
  places, titles (frbr:work), and event entities. It is based on concepts from ISAAR(CPF),
  EAC-CFP standards, MADS, and FOAF and designed for implementation within the Fedora Commons framework.
  Most administrative metadata (equivalent to EAC-CPF\'s <control> element) should be captured in
  Fedora Object datastreams such as object properties, AUDIT, RELS-EXT (object-level relations),
  or worlkflow. Content-level relations are captured in the entity record itself.
  
  **********
  Release Notes: V03. Third version includes definition of person and organization entity types,
  as well as granular certainty information.
  ********** 
  
  **********
  For comments, questions, and suggestions please contact Susan Brown, CWRC project leader
  (sbrown@uoguelph.ca) or Mariana Paredes-Olea, CWRC Metadata Coordinator (paredeso@ualberta.ca)
  **********    
-->
<!--
  PENDING WORK:
  decide whether to have:
      localType elements
      noteTypes
      mandate?
      useDates?
      source - granularize
      noteTypes
      languageUsed
      contact
      relation types: family, parent, friend, child, sibling, marriage, affiliation, associative (see cpfRelation and
      @cpfRelationType), 
      position?
  
  document interoperability with FOAF and EAC-CPF
  
  alphabetize definitions and values
  
  translate interface labels
  
  partType
  variantType
  dateType
  -> defined in appinfo
  
  personType values
  ->  in define node
  
  
  
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="cwrc">
    <xs:annotation>
      <xs:documentation>Group of CWRC records</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="entity"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="entity">
    <xs:annotation>
      <xs:documentation>CWRC entity record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="person"/>
        <xs:element ref="organization"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="person">
    <xs:annotation>
      <xs:documentation>CWRC entity person record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="personRecordInfo-element"/>
          <xs:group ref="identity-element"/>
          <xs:group ref="personDescription-element"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="relations"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="organization">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="orgRecordInfo-element"/>
          <xs:group ref="identity-element"/>
          <xs:group ref="orgDescription-element"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="relations"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="title-element">
        <element name="title">
            <optional>
                <ref name="id-attribute"/>
            </optional>
            <interleave>
                <optional>
                    <ref name="recordInfo-element"/>
                </optional>
                <ref name="titleIdentity-element"/>
                <optional>
                    <ref name="orgDescription-element"/>
                </optional>
            </interleave>
            <optional>
                <ref name="relations-element"/>
            </optional>
        </element>
    </define>
  -->
  <xs:group name="personRecordInfo-element">
    <xs:sequence>
      <xs:element name="recordInfo">
        <xs:annotation>
          <xs:documentation>Captures record-level information. Components of this element are kept
                to a minimum given that administrative and object-level metadata is captured in
                other FOXML datastreams.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="personTypes"/>
            <xs:element ref="originInfo"/>
            <xs:element ref="entityId"/>
            <xs:element ref="access"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="orgRecordInfo-element">
    <xs:sequence>
      <xs:element name="recordInfo">
        <xs:annotation>
          <xs:documentation>Captures record-level information. Components of this element are kept
                to a minimum given that administrative and object-level metadata is captured in
                other FOXML datastreams.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="originInfo"/>
            <xs:element ref="entityId"/>
            <xs:element ref="access"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="recordInfo-element">
    <xs:sequence>
      <xs:element name="recordInfo">
        <xs:annotation>
          <xs:documentation>Captures record-level information. Components of this element are kept
                to a minimum given that administrative and object-level metadata is captured in
                other FOXML datastreams.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="originInfo"/>
            <xs:element ref="entityId"/>
            <xs:element ref="access"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="identity-element">
    <xs:sequence>
      <xs:element name="identity">
        <xs:annotation>
          <xs:documentation>A container element grouping data for identification of a CWRC entity
                instance</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="preferredForm"/>
            <xs:element ref="displayLabel"/>
            <xs:element ref="variantForms"/>
            <xs:element ref="sameAs"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="titleIdentity-element">
    <xs:sequence>
      <xs:element name="identity">
        <xs:annotation>
          <xs:documentation>A container element grouping data for identification of a CWRC entity
                instance</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="preferredForm"/>
            <xs:element ref="level"/>
            <xs:element ref="displayLabel"/>
            <xs:element ref="variantForms"/>
            <xs:element ref="sameAs"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="personDescription-element">
    <xs:sequence>
      <xs:element name="description">
        <xs:annotation>
          <xs:documentation>This section captures descriptive data about a CWRC entity record</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="descriptiveNotes"/>
            <xs:element ref="existDates"/>
            <xs:element ref="genders"/>
            <xs:element ref="occupations"/>
            <xs:element ref="activities"/>
            <xs:element ref="researchInterests"/>
            <xs:element ref="relatedResources"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="orgDescription-element">
    <xs:sequence>
      <xs:element name="description">
        <xs:annotation>
          <xs:documentation>This section captures descriptive data about a CWRC entity record</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="orgTypes"/>
            <xs:element ref="existDates"/>
            <xs:element ref="activities"/>
            <xs:element ref="researchInterests"/>
            <xs:element ref="descriptiveNotes"/>
            <xs:element ref="relatedResources"/>
          </xs:choice>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="occupations">
    <xs:annotation>
      <xs:documentation>A group of occupation terms associated with a CWRC entity record. For more information see occupation element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="occupation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activities">
    <xs:annotation>
      <xs:documentation>A group of activity terms associated with a CWRC entity record. For more information see activity element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="activity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="researchInterests">
    <xs:annotation>
      <xs:documentation>A group of research interest terms associated with a CWRC entity record. For more information see researchInterest element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="interest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genders">
    <xs:annotation>
      <xs:documentation>A group of gender terms associated with a CWRC entity record. For more information see gender element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gender"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="occupation">
    <xs:annotation>
      <xs:documentation>Occupation captures relevant paid occupations held by the person described in an entity record.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="term"/>
        <xs:element ref="dateSingle"/>
        <xs:element ref="dateRange"/>
        <xs:element ref="note"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="relatedResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="resource"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activity">
    <xs:annotation>
      <xs:documentation>Activity captures all unpaid work or function such as volunteer work or other significant activity that a person was engaged in. Examples: parenting, unpaid  domestic labour, nursing, as well as philantropic, missionary, or other political activities.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="term"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="interest">
    <xs:annotation>
      <xs:documentation>This field can capture a topic of interest associated with an entity (person or organization).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="term"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gender">
    <xs:annotation>
      <xs:documentation>Gender captures a group of gender terms associated with a person entity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:union>
              <xs:simpleType>
                <xs:union memberTypes="xs:string">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="female"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="male"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="undefined"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="transgendered"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:length value="0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:union>
          </xs:simpleType>
          <xs:attribute name="cert">
            <xs:annotation>
              <xs:documentation>Captures degree of certainty about a particular statement about the entity described.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:length value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:annotation>
      <xs:documentation>Term works as a generic field to capture terms associated with an entity in terms of occupation, activity, research interests, and gender.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="cert">
        <xs:annotation>
          <xs:documentation>Captures degree of certainty about a particular statement about the entity described.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="4"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="1"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="relations">
    <xs:annotation>
      <xs:documentation>A group of relations between a given entity and other entities. Equivalent to EAC-CPF\'s relation element, used as a wrapper for grouping one or more specific relations.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="relation"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="relation">
    <xs:annotation>
      <xs:documentation>Captures a relation between a given entity and other entities. For example, an organization, person, work, or place related to the described entity. Equivalent to EAC-CPF\'s cpfRelation (if the relation is to organizations and persons) or to resourceRelation (if the relation involves a work or title).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="placeRef"/>
        <xs:element ref="person"/>
        <xs:element ref="organization"/>
      </xs:choice>
      <xs:attribute name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation>Generic type attribute available to classify types of relations.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="placeRef">
    <xs:annotation>
      <xs:documentation>A place entity associated with the described entity. Used in relations section.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="lat"/>
        <xs:element minOccurs="0" ref="long"/>
        <xs:element minOccurs="0" ref="uri"/>
        <xs:element minOccurs="0" ref="place"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="place" type="xs:string">
    <xs:annotation>
      <xs:documentation>Place name of a location associated with the described entity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="lat" type="xs:string">
    <xs:annotation>
      <xs:documentation>Latitude of a location associated with the described entity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="long" type="xs:string"/>
  <xs:element name="uri" type="xs:anyURI"/>
  <!--
    <define name="personRef-element">
        <element>
            <element></element>
        </element>
    </define>
    
    <define name="organizationRef-element"></define>
    
    <define name="titleRef-element"></define>
    
    <define name="eventRef-element"></define>
  -->
  <xs:attributeGroup name="type-attribute">
    <xs:attribute name="type" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>Generic type attribute available to classify types of relations.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="originInfo">
    <xs:annotation>
      <xs:documentation>Record origin information. Equivalent to MADS recordInfo element, similar to EAC-CPF\'s control element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="projectId"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="recordIdentifier"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="recordCreationDate"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="recordChangeDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="projectId">
    <xs:annotation>
      <xs:documentation>Similar to EAC-CPF\'s agencyCode. In CWRC\'s context, projectId
                captures an identifieer for the originating project or collection. Subsequent modifications of the record
                should be captured in FOXML\'s datastreams</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="xml:id"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordIdentifier">
    <xs:annotation>
      <xs:documentation>Provenance field used to capture original record identifiers. CWRC record identifiers are captured in entityId and in FOXML.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="source" type="xs:string">
            <xs:annotation>
              <xs:documentation>Provenance field used to capture the source responsible for the publication or modification of an entity record.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordCreationDate">
    <xs:annotation>
      <xs:documentation>Provenance field used to capture the original creation date of an entity instance deposited in CWRC. Dates of creation for new entities created in CWRC are captured in FOXML. Equivalent to MADS recordCreationDate and EAC-CPF's maintenanceHistory/maintenance/Event/eventType[text()="created"]/eventDateTime .</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dateSingle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordChangeDate">
    <xs:annotation>
      <xs:documentation>Provenance field used to capture the original modification dates of an entity instance deposited in CWRC. Subsequent dates of modification in CWRC are captured in FOXML. Equivalent to MADS recordChangeDate and EAC-CPF's maintenanceHistory/maintenance/Event/eventType/eventDateTime .</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dateSingle"/>
      </xs:sequence>
      <xs:attribute name="source" type="xs:string">
        <xs:annotation>
          <xs:documentation>Provenance field used to capture the source responsible for the publication or modification of an entity record.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="resource" type="xs:string">
    <xs:annotation>
      <xs:documentation>A source of evidence used in describing the entity or entities instances. Equivalent to EAC-CFPF\'s source element.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:attributeGroup name="source-attribute">
    <xs:attribute name="source" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>Provenance field used to capture the source responsible for the publication or modification of an entity record.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="entityId">
    <xs:annotation>
      <xs:documentation>Optional CWRC record identifier. This information is captured in FOXML. Equivalent to EAC-CPF\'s recordId.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:union memberTypes="xs:NMTOKEN">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:length value="0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:union>
          </xs:simpleType>
          <xs:attribute ref="xml:id"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="preferredForm">
    <xs:annotation>
      <xs:documentation>An element used to indicate which recorded entity name is the preferred
                one for display purposes in a given context.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="namePart"/>
        <xs:element minOccurs="0" ref="displayLabel"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayLabel" type="xs:string">
    <xs:annotation>
      <xs:documentation>Display label of entity described if different than CWRC's preferredForm.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="namePart">
    <xs:annotation>
      <xs:documentation>Used to distinguish components of the name of the entity. Equivalent to MADS\'s namePart and to EAC-CPF\'s part element.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:id"/>
      <xs:attribute name="partType">
        <xs:annotation>
          <xs:documentation>Captures types of name components of an entity. Example: forename.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:union memberTypes="xs:string">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="undefined"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="forename">
                      <xs:annotation>
                        <xs:documentation>e. g. Monica</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="surname">
                      <xs:annotation>
                        <xs:documentation>e. g. Johnson</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="date">
                      <xs:annotation>
                        <xs:documentation>e. g. fl. 1780</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="salutation">
                      <xs:annotation>
                        <xs:documentation>e. g. Ms.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="qualification">
                      <xs:annotation>
                        <xs:documentation>e. g. Reverend</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="initials">
                      <xs:annotation>
                        <xs:documentation>e. g. J.C.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="suffix">
                      <xs:annotation>
                        <xs:documentation>e. g. Jr.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="geographic">
                      <xs:annotation>
                        <xs:documentation>e. g. "Canada" in "Conseil des Arts du
                        Canada"</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="person">
                      <xs:annotation>
                        <xs:documentation>e. g. "Ellington" in "Ellington Fund"</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="titlePart-element">
        <element name="titlePart">
            <xs:annotation>
                <xs:appinfo>
    
                    <interface-field
                        path="entity/title/identity/preferredForm/titlePart">
                        <label xml:lang="en">Title Part</label>
                        <help-text xml:lang="en">Use this field to capture a
                            complete title or title part</help-text>
                        <input>textField</input>
                    </interface-field>
    
                    <interface-field
                        path="entity/title/identity/variantForms/variant/titlePart">
                        <label xml:lang="en">Title Part</label>
                        <help-text xml:lang="en">Use this field to capture a
                            complete title or title part</help-text>
                        <input>textField</input>
                    </interface-field>
    
                </xs:appinfo>
            </xs:annotation>
            <optional>
                <ref name="id-attribute"/>
            </optional>
            <optional>
                <ref name="partType-attribute"/>
            </optional>
            <text/>
        </element>
    </define>
  -->
  <xs:attributeGroup name="partType-attribute">
    <xs:attribute name="partType" use="required">
      <xs:annotation>
        <xs:documentation>Captures types of name components of an entity. Example: forename.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:union memberTypes="xs:string">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="undefined"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="forename">
                    <xs:annotation>
                      <xs:documentation>e. g. Monica</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="surname">
                    <xs:annotation>
                      <xs:documentation>e. g. Johnson</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="date">
                    <xs:annotation>
                      <xs:documentation>e. g. fl. 1780</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="salutation">
                    <xs:annotation>
                      <xs:documentation>e. g. Ms.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="qualification">
                    <xs:annotation>
                      <xs:documentation>e. g. Reverend</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="initials">
                    <xs:annotation>
                      <xs:documentation>e. g. J.C.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="suffix">
                    <xs:annotation>
                      <xs:documentation>e. g. Jr.</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="geographic">
                    <xs:annotation>
                      <xs:documentation>e. g. "Canada" in "Conseil des Arts du
                        Canada"</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="person">
                    <xs:annotation>
                      <xs:documentation>e. g. "Ellington" in "Ellington Fund"</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:union>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:length value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="variantType">
    <xs:annotation>
      <xs:documentation>Captures tname type to describe contexts in which this name was used to refer to the present entity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:union memberTypes="xs:string">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="undefined"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="birthName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="marriedName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="indexedName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="pseudonym"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="usedForm"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="nickname"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="religiousName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="royalName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="selfConstructedName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="styledName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="titledName"/>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="descriptive">
                    <xs:annotation>
                      <xs:documentation>e. g. Women's Aid Society</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="popular">
                    <xs:annotation>
                      <xs:documentation>e. g. "Wrens" for "Women's Royal Naval
                    Service"</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="acronym">
                    <xs:annotation>
                      <xs:documentation>e. g. OCLC</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:union>
          </xs:simpleType>
          <xs:attribute ref="xml:id"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="existDates">
    <xs:annotation>
      <xs:documentation>Dates of existence of the entity described (i.e. birth, death, fl., etc.), of the present entity.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dateSingle"/>
        <xs:element ref="dateRange"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="entityType-element">
        <element name="entityType">
            <choice>
                <value a:fr="" a:en="Writer">person</value>
                <value a:fr="" a:en="organization">organization</value>
                <value a:fr="" a:en="title">title</value>
                <value a:fr="" a:en="place">place</value>
                <value a:fr="" a:en="event">event</value>
                <value a:fr="" a:en="biological species">biological species</value>
                <value a:fr="" a:en="abstract concept">abstract concept</value>
                <value a:fr="" a:en="other named entity">other named entity</value>
            </choice>
        </element>
    </define>
  -->
  <xs:element name="personTypes">
    <xs:annotation>
      <xs:documentation>Captures generic person types defined by each project. Based on
                WEAC-CPF\'s @localType.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="personType"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="personType" type="xs:string">
    <xs:annotation>
      <xs:documentation>Captures generic person types defined by each project. Based on
                WEAC-CPF\'s @localType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="level">
    <xs:annotation>
      <xs:documentation>Captures generic title types. Based on TEI\'s @level.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="undefined"/>
              <xs:enumeration value="a">
                <xs:annotation>
                  <xs:documentation>(analytic) analytic title (article, poem, or other item published
                    as part of a larger item) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="m">
                <xs:annotation>
                  <xs:documentation>(monographic) monographic title (book, collection, or other item
                    published as a distinct item, including single volumes of multi-volume works) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="j">
                <xs:annotation>
                  <xs:documentation>(journal) journal title </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="s">
                <xs:annotation>
                  <xs:documentation>(series) series title </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="u">
                <xs:annotation>
                  <xs:documentation>(unpublished) title of unpublished material (including theses and
                    dissertations unless published by a commercial press)</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:attribute ref="xml:id"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgTypes">
    <xs:annotation>
      <xs:documentation>Captures generic person types defined by each project. Based on
                WEAC-CPF\'s @localType.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="orgType"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgType">
    <xs:annotation>
      <xs:documentation>Captures generic organization types. Based on EAC-CPF\'s
                @localType.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:union>
              <xs:simpleType>
                <xs:union memberTypes="xs:string xs:string">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="undefined"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="labour"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="club or society"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="political"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="academic"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="research"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="corporate"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="activist"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="governmental"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="military"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="law-enforcement"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="professional"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="sporting"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="medical"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="altruistic"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="non-profit"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="artistic"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="dramatic"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="ethnic"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="literary"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="musical"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="religious"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="publishing"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:length value="0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:union>
          </xs:simpleType>
          <xs:attribute ref="xml:id"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sameAs">
    <xs:annotation>
      <xs:documentation>Captures a link to a resource that contains
                information about this entity (e. g. an article about the
                entity that is subject of a record). This field is also useful to declare that the present
                entity likely refers to the same entity represented in another
                resource.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute ref="xml:id"/>
          <xs:attribute name="cert">
            <xs:annotation>
              <xs:documentation>Captures degree of certainty about a particular statement about the entity described.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:length value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="cert-attribute">
    <xs:attribute name="cert" use="required">
      <xs:annotation>
        <xs:documentation>Captures degree of certainty about a particular statement about the entity described.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="4"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:length value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="dateSingle">
    <xs:annotation>
      <xs:documentation>Captures a date associated with the entity record or entity instance.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="date-pattern"/>
      <xs:attribute ref="xml:id"/>
      <xs:attributeGroup ref="date-pattern"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dateRange">
    <xs:annotation>
      <xs:documentation>Captures a date range associated with the entity record or entity instance.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="fromDate"/>
        <xs:element ref="toDate"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromDate">
    <xs:annotation>
      <xs:documentation>Captures the start date of a date range associated with the entity described.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" ref="date-pattern"/>
      <xs:attribute ref="xml:id"/>
      <xs:attributeGroup ref="date-pattern"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="toDate">
    <xs:annotation>
      <xs:documentation>Captures the end date of a date range associated with the entity described.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" ref="date-pattern"/>
      <xs:attribute ref="xml:id"/>
      <xs:attributeGroup ref="date-pattern"/>
    </xs:complexType>
  </xs:element>
  <!--
     mpo: the below allows one standard AND one text date, one text date, or one standard
    date but is disabled so that the interface can read the instruction via optional
    elements. the difference is that the disabled expression enforces having at least
    one type of date
  -->
  <!--
    <choice>
    <interleave>
    <ref name="standardDate-element"/>
    <ref name="textDate-element"/>
    </interleave>
    <ref name="textDate-element"/>
    <ref name="standardDate-element"/>
    </choice>
  -->
  <xs:group name="date-pattern">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="standardDate"/>
        <xs:element ref="textDate"/>
        <xs:element ref="dateType"/>
        <xs:element ref="note"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="date-pattern">
    <xs:attribute name="cert">
      <xs:annotation>
        <xs:documentation>Captures degree of certainty about a particular statement about the entity described.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="4"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:length value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="standardDate">
    <xs:annotation>
      <xs:documentation>Captures a date in ISO standard format.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear xs:dateTime">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="((\d{4})\D(0[1-9]|1[0-2])\D([12]\d|0[1-9]|3[01])|(\d{4})(0[1-9]|1[0-2])([12]\d|0[1-9]|3[01]))"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="(\d{4})((\D(0[1-9]|1[0-2])\D)|(0[1-9]|1[0-2]))"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="(\d{4})(\D{2})?"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="textDate" type="xs:string">
    <xs:annotation>
      <xs:documentation>Captures a date in prose format.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="dateType" type="xs:string">
    <xs:annotation>
      <xs:documentation>Captures a date type in relation to its association with the entity described. Recommended values - Person: birth, death, marriage, flourish, circa.
                Organization: start, end, flourish, circa. Works: original issuance, edition,
                reprint.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:attributeGroup name="id-attribute">
    <xs:attribute ref="xml:id" use="required"/>
  </xs:attributeGroup>
  <xs:element name="descriptiveNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p" type="xs:string"/>
  <xs:element name="access">
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="public"/>
            <xs:enumeration value="project"/>
            <xs:enumeration value="private"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="note">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="projectId"/>
        <xs:element ref="access"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="noteType-attribute">
        <attribute name="noteType">
    
            <xs:annotation>
                <xs:appinfo>
    
                    <interface-field
                    path="entity/person|organization/description/existDates/dateSingle/note/@noteType">
                        <help-text xml:lang="en">Pick a note type from the list.</help-text>
                        <label xml:lang="en">Note Type</label>
                        <input>combobox</input>
                    </interface-field>
    
                    <interface-field
                    path="entity/person|organization/description/existDates/dateRange/note/@noteType">
                        <help-text xml:lang="en">Pick a note type from the list.</help-text>
                        <label xml:lang="en">Note Type</label>
                        <input>dropDown</input>
                        <default>en</default>
                    </interface-field>
    
    
                    <interface-field path="entity/person|organization/description/descriptiveNotes/note/@noteType='summary'">
                        <help-text xml:lang="en">Pick a note type from the list.</help-text>
                        <label xml:lang="en">Note Type</label>
                        <input>dropDown</input>
                    </interface-field>
    
                </xs:appinfo>
            </xs:annotation>
    
            <choice>
                <value a:fr="" a:en="summary">summary</value>
                <value a:fr="" a:en="research note">researchNote</value>
                <value a:fr="" a:en="scholar note">scholarNote</value>
                <value a:fr="" a:en="disambiguation">disambiguation</value>
    
                <!-\-mpo: check-\->
            </choice>
        </attribute>
    </define>
  -->
  <xs:attributeGroup name="lang-attribute">
    <xs:attribute ref="xml:lang" use="required"/>
  </xs:attributeGroup>
  <xs:element name="variantForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="variant"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="variant">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="namePart"/>
        <xs:element ref="variantType"/>
        <xs:element ref="authorizedBy"/>
        <xs:element ref="picklist"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="picklist">
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="YES"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="authorizedBy">
    <xs:annotation>
      <xs:documentation>authorizedBy element captures a note indicating that one or more
                projects use the present name as a preferred form in their local
                context.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="projectId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="link">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute ref="xml:id"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
