schemas/orlando_legacy_bibliography.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="BIBLIOGRAPHY_ENTRY">
      <attribute name="BI_ID">
        <data type="integer"></data>
      </attribute>
      <optional>
        <attribute name="ID">
          <data type="NCName"></data>
        </attribute>
      </optional>
      <attribute name="WORKFORM">
        <data type="NCName"></data>
      </attribute>
      <element name="AUTHOR_ROLES">
        <zeroOrMore>
          <element name="AUTHOR_ROLE">
            <optional>
              <attribute name="AR_ID">
                <data type="integer"></data>
              </attribute>
            </optional>
            <optional>
              <attribute name="A_ID">
                <data type="integer"></data>
              </attribute>
            </optional>
            <attribute name="BI_ID">
              <data type="integer"></data>
            </attribute>
            <attribute name="IN_CATALOG">
              <data type="integer"></data>
            </attribute>
            <optional>
              <attribute name="LINK_TYPE">
                <data type="NCName"></data>
              </attribute>
            </optional>
            <optional>
              <attribute name="NAME_TYPE">
                <data type="NCName"></data>
              </attribute>
            </optional>
            <optional>
              <attribute name="PRESENT_ORDER">
                <data type="integer"></data>
              </attribute>
            </optional>
            <optional>
              <attribute name="PUBLISHED_AS_NAME"></attribute>
            </optional>
            <optional>
              <attribute name="ROLE">
                <data type="NCName"></data>
              </attribute>
            </optional>
            <attribute name="STANDARD"></attribute>
            <ref name="NAME"></ref>
          </element>
        </zeroOrMore>
      </element>
      <optional>
        <element name="ANALYTIC">
          <optional>
            <ref name="STANDARD"></ref>
          </optional>
          <optional>
            <ref name="ALTERNATE"></ref>
          </optional>
          <optional>
            <element name="RECIPIENT">
              <ref name="NAME"></ref>
            </element>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="MONOGRAPHIC">
          <optional>
            <ref name="STANDARD"></ref>
          </optional>
          <optional>
            <ref name="ALTERNATE"></ref>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="IMPRINT">
          <optional>
            <element name="DATE_OF_PUBLICATION">
              <optional>
                <attribute name="EMENDED">
                  <data type="integer"></data>
                </attribute>
              </optional>
              <attribute name="NO_DATE">
                <data type="integer"></data>
              </attribute>
              <optional>
                <attribute name="REG"></attribute>
              </optional>
              <ref name="DATE"></ref>
            </element>
          </optional>
          <optional>
            <element name="DATE_OF_ORIGINAL_PUBLICATION">
              <attribute name="EMENDED">
                <data type="integer"></data>
              </attribute>
              <attribute name="NO_DATE">
                <data type="integer"></data>
              </attribute>
              <optional>
                <attribute name="REG">
                  <data type="NMTOKEN"></data>
                </attribute>
              </optional>
              <ref name="DATE"></ref>
            </element>
          </optional>
          <optional>
            <element name="DATE_OF_ACCESS">
              <attribute name="EMENDED">
                <data type="integer"></data>
              </attribute>
              <attribute name="NO_DATE">
                <data type="integer"></data>
              </attribute>
              <optional>
                <attribute name="REG"></attribute>
              </optional>
              <text></text>
            </element>
          </optional>
          <optional>
            <element name="PUBLISHER">
              <attribute name="STANDARD"></attribute>
              <ref name="ORGNAME"></ref>
            </element>
          </optional>
          <optional>
            <element name="PLACE_OF_PUBLICATION">
              <attribute name="REG"></attribute>
              <element name="PLACE">
                <optional>
                  <attribute name="CT_ID">
                    <data type="NMTOKEN"></data>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="CT_ISLINK">
                    <data type="integer"></data>
                  </attribute>
                </optional>
                <attribute name="REG"></attribute>
                <text></text>
              </element>
            </element>
          </optional>
          <optional>
            <element name="EDITION">
              <text></text>
            </element>
          </optional>
          <optional>
            <element name="COVER_TITLE">
              <ref name="TITLE"></ref>
            </element>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="SERIES">
          <optional>
            <ref name="STANDARD"></ref>
          </optional>
          <optional>
            <ref name="ALTERNATE"></ref>
          </optional>
          <optional>
            <ref name="VOLUME_ID"></ref>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="SCOPE">
          <optional>
            <ref name="VOLUME_ID"></ref>
          </optional>
          <optional>
            <element name="ISSUE_ID">
              <text></text>
            </element>
          </optional>
          <optional>
            <element name="PAGES">
              <text></text>
            </element>
          </optional>
          <optional>
            <element name="VOLUME_COUNT">
              <text></text>
            </element>
          </optional>
          <optional>
            <element name="MEDIUM">
              <text></text>
            </element>
          </optional>
          <optional>
            <element name="LANGUAGE">
              <text></text>
            </element>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="LOCATION">
          <optional>
            <element name="URN">
              <text></text>
            </element>
          </optional>
          <optional>
            <element name="CALL_NO">
              <text></text>
            </element>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="SCHOLARNOTES">
          <element name="SCHOLARNOTE">
            <attribute name="ID">
              <data type="NCName"></data>
            </attribute>
            <optional>
              <attribute name="SN_ID">
                <data type="integer"></data>
              </attribute>
            </optional>
            <oneOrMore>
              <choice>
                <text></text>
                <ref name="NAME"></ref>
                <ref name="QUOTE"></ref>
                <ref name="SOCALLED"></ref>
                <ref name="TITLE"></ref>
                <element name="BIBCITS">
                  <element name="BIBCIT">
                    <attribute name="DBREF">
                      <data type="integer"></data>
                    </attribute>
                    <attribute name="PLACEHOLDER"></attribute>
                    <data type="NMTOKEN"></data>
                  </element>
                </element>
                <element name="XREF">
                  <attribute name="RESP">
                    <data type="NCName"></data>
                  </attribute>
                  <attribute name="URL">
                    <data type="anyURI"></data>
                  </attribute>
                  <data type="anyURI"></data>
                </element>
              </choice>
            </oneOrMore>
          </element>
        </element>
      </optional>
      <optional>
        <element name="RESEARCHNOTES">
          <ref name="RESEARCHNOTE"></ref>
        </element>
      </optional>
      <oneOrMore>
        <element name="RESPONSIBILITY">
          <attribute name="RESP">
            <data type="NCName"></data>
          </attribute>
          <attribute name="WORKSTATUS">
            <data type="NCName"></data>
          </attribute>
          <attribute name="WORKVALUE">
            <data type="NCName"></data>
          </attribute>
          <ref name="DATE"></ref>
          <optional>
            <element name="ITEM">
              <oneOrMore>
                <choice>
                  <text></text>
                  <ref name="RESEARCHNOTE"></ref>
                </choice>
              </oneOrMore>
            </element>
          </optional>
          <optional>
            <ref name="RESEARCHNOTE"></ref>
          </optional>
        </element>
      </oneOrMore>
      <optional>
        <element name="KEYWORD">
          <optional>
            <attribute name="TYPE"></attribute>
          </optional>
        </element>
      </optional>
    </element>
  </start>
  <define name="NAME">
    <element name="NAME">
      <optional>
        <attribute name="CT_ID">
          <data type="NMTOKEN"></data>
        </attribute>
      </optional>
      <optional>
        <attribute name="CT_ISLINK">
          <data type="integer"></data>
        </attribute>
      </optional>
      <attribute name="STANDARD"></attribute>
      <text></text>
    </element>
  </define>
  <define name="STANDARD">
    <element name="STANDARD">
      <attribute name="REG"></attribute>
      <ref name="TITLE"></ref>
    </element>
  </define>
  <define name="ALTERNATE">
    <element name="ALTERNATE">
      <attribute name="REG"></attribute>
      <ref name="TITLE"></ref>
    </element>
  </define>
  <define name="DATE">
    <element name="DATE">
      <optional>
        <attribute name="VALUE"></attribute>
      </optional>
      <text></text>
    </element>
  </define>
  <define name="ORGNAME">
    <element name="ORGNAME">
      <optional>
        <attribute name="CT_ID">
          <data type="NMTOKEN"></data>
        </attribute>
      </optional>
      <optional>
        <attribute name="CT_ISLINK">
          <data type="integer"></data>
        </attribute>
      </optional>
      <optional>
        <attribute name="REG"></attribute>
      </optional>
      <attribute name="STANDARD"></attribute>
      <text></text>
    </element>
  </define>
  <define name="TITLE">
    <element name="TITLE">
      <optional>
        <attribute name="CT_ID">
          <data type="NMTOKEN"></data>
        </attribute>
      </optional>
      <optional>
        <attribute name="CT_ISLINK">
          <data type="integer"></data>
        </attribute>
      </optional>
      <optional>
        <attribute name="REG"></attribute>
      </optional>
      <optional>
        <attribute name="TITLETYPE"></attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text></text>
          <ref name="NAME"></ref>
          <ref name="ORGNAME"></ref>
          <ref name="QUOTE"></ref>
          <ref name="SOCALLED"></ref>
          <ref name="TITLE"></ref>
          <element name="EMPH">
            <text></text>
          </element>
          <element name="FOREIGN">
            <data type="NCName"></data>
          </element>
          <element name="SIC">
            <text></text>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="VOLUME_ID">
    <element name="VOLUME_ID">
      <text></text>
    </element>
  </define>
  <define name="QUOTE">
    <element name="QUOTE">
      <attribute name="DIRECT">
        <data type="NCName"></data>
      </attribute>
      <text></text>
    </element>
  </define>
  <define name="SOCALLED">
    <element name="SOCALLED">
      <text></text>
    </element>
  </define>
  <define name="RESEARCHNOTE">
    <element name="RESEARCHNOTE">
      <oneOrMore>
        <choice>
          <text></text>
          <ref name="NAME"></ref>
          <ref name="ORGNAME"></ref>
          <ref name="TITLE"></ref>
          <element name="P">
            <optional>
              <attribute name="ID">
                <data type="NCName"></data>
              </attribute>
            </optional>
            <oneOrMore>
              <choice>
                <text></text>
                <ref name="TITLE"></ref>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
