schemas/orlando_legacy_documentation.rng

<?xml version="1.0" encoding="UTF-8"?>

<!--
    * This schema represent the Orlando Documentation/Help documents (*-d.sgm by the legacy name)
    *
    * This schema was automatically generated by Oxygen on:
    * 2013-07-09
-->

<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="DOCUMENTATION">
      <attribute name="ID">
        <data type="ID"/>
      </attribute>
      <element name="ORLANDOHEADER">
        <element name="FILEDESC">
          <element name="TITLESTMT">
            <element name="DOCTITLE">
              <text/>
            </element>
          </element>
          <element name="PUBLICATIONSTMT">
            <element name="AUTHORITY">
              <text/>
            </element>
            <optional>
              <element name="AVAILABILITY">
                <attribute name="STATUS">
                  <data type="NCName"/>
                </attribute>
                <ref name="P"/>
              </element>
            </optional>
          </element>
          <element name="SOURCEDESC">
            <text/>
          </element>
        </element>
        <element name="REVISIONDESC">
          <oneOrMore>
            <element name="RESPONSIBILITY">
              <attribute name="RESP">
                <data type="NCName"/>
              </attribute>
              <attribute name="WORKSTATUS">
                <data type="NCName"/>
              </attribute>
              <attribute name="WORKVALUE">
                <data type="NCName"/>
              </attribute>
              <element name="DATE">
                <optional>
                  <attribute name="VALUE">
                    <data type="date"/>
                  </attribute>
                </optional>
                <text/>
              </element>
              <optional>
                <element name="ITEM">
                  <text/>
                </element>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </element>
      <choice>
        <element name="DIV">
          <optional>
            <attribute name="ID">
              <data type="ID"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="SECTIONALIZE">
              <data type="NCName"/>
            </attribute>
          </optional>
          <ref name="HEADING"/>
          <oneOrMore>
            <element name="DIV1">
              <optional>
                <attribute name="ID">
                  <data type="ID"/>
                </attribute>
              </optional>
              <optional>
                <attribute name="SECTIONALIZE">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <oneOrMore>
                <choice>
                  <ref name="HEADING"/>
                  <ref name="P"/>
                  <ref name="RESEARCHNOTE"/>
                </choice>
              </oneOrMore>
              <zeroOrMore>
                <element name="DIV2">
                  <optional>
                    <attribute name="ID">
                      <data type="ID"/>
                    </attribute>
                  </optional>
                  <optional>
                    <attribute name="SECTIONALIZE">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <ref name="HEADING"/>
                  <zeroOrMore>
                    <choice>
                      <ref name="P"/>
                      <ref name="RESEARCHNOTE"/>
                    </choice>
                  </zeroOrMore>
                  <zeroOrMore>
                    <element name="DIV3">
                      <optional>
                        <attribute name="ID">
                          <data type="ID"/>
                        </attribute>
                      </optional>
                      <optional>
                        <attribute name="SECTIONALIZE">
                          <data type="NCName"/>
                        </attribute>
                      </optional>
                      <ref name="HEADING"/>
                      <zeroOrMore>
                        <ref name="P"/>
                      </zeroOrMore>
                      <zeroOrMore>
                        <element name="DIV4">
                          <attribute name="ID">
                            <data type="ID"/>
                          </attribute>
                          <ref name="HEADING"/>
                          <oneOrMore>
                            <ref name="P"/>
                          </oneOrMore>
                        </element>
                      </zeroOrMore>
                    </element>
                  </zeroOrMore>
                </element>
              </zeroOrMore>
            </element>
          </oneOrMore>
        </element>
        <element name="GLOSSARY">
          <optional>
            <attribute name="ID">
              <data type="ID"/>
            </attribute>
          </optional>
          <attribute name="SECTIONALIZE">
            <data type="NCName"/>
          </attribute>
          <ref name="HEADING"/>
          <choice>
            <oneOrMore>
              <ref name="GLOSSITEM"/>
            </oneOrMore>
            <oneOrMore>
              <choice>
                <ref name="XREF"/>
                <element name="GLOSSGROUP">
                  <attribute name="ID">
                    <data type="ID"/>
                  </attribute>
                  <attribute name="SECTIONALIZE">
                    <data type="NCName"/>
                  </attribute>
                  <ref name="HEADING"/>
                  <oneOrMore>
                    <ref name="GLOSSITEM"/>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
          </choice>
        </element>
      </choice>
    </element>
  </start>
  <define name="P">
    <element name="P">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="BIBCITS"/>
          <ref name="EXAMPLE"/>
          <ref name="HI"/>
          <ref name="IMG"/>
          <ref name="NAME"/>
          <ref name="QUOTE"/>
          <ref name="RESEARCHNOTE"/>
          <ref name="SOCALLED"/>
          <ref name="TITLE"/>
          <ref name="XREF"/>
          <element name="LIST">
            <attribute name="LIST-TYPE">
              <data type="NCName"/>
            </attribute>
            <oneOrMore>
              <choice>
                <ref name="XREF"/>
                <element name="LI">
                  <optional>
                    <attribute name="ID">
                      <data type="ID"/>
                    </attribute>
                  </optional>
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="HI"/>
                      <ref name="IMG"/>
                      <ref name="NAME"/>
                      <ref name="QUOTE"/>
                      <ref name="RESEARCHNOTE"/>
                      <ref name="SOCALLED"/>
                      <ref name="TITLE"/>
                      <ref name="XREF"/>
                      <element name="ORGNAME">
                        <text/>
                      </element>
                      <element name="PLACE">
                        <optional>
                          <element name="SETTLEMENT">
                            <data type="NCName"/>
                          </element>
                        </optional>
                        <choice>
                          <element name="REGION">
                            <text/>
                          </element>
                          <group>
                            <element name="GEOG">
                              <optional>
                                <attribute name="REG">
                                  <data type="NCName"/>
                                </attribute>
                              </optional>
                              <text/>
                            </element>
                            <element name="AREA">
                              <attribute name="REG"/>
                            </element>
                          </group>
                        </choice>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="MAP">
            <attribute name="ID">
              <data type="ID"/>
            </attribute>
            <attribute name="NAME">
              <data type="NCName"/>
            </attribute>
            <oneOrMore>
              <element name="IMGAREA">
                <attribute name="ALT"/>
                <attribute name="COORDS"/>
                <attribute name="HREF"/>
                <attribute name="SHAPE">
                  <data type="NCName"/>
                </attribute>
                <attribute name="TITLE"/>
              </element>
            </oneOrMore>
          </element>
          <element name="POP-UPNOTE">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="HEADING">
    <element name="HEADING">
      <optional>
        <attribute name="INDEXAS"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="HI"/>
          <ref name="RESEARCHNOTE"/>
          <ref name="SOCALLED"/>
          <ref name="TITLE"/>
          <ref name="XREF"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="GLOSSITEM">
    <element name="GLOSSITEM">
      <attribute name="GLOSSITEMTYPE">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="ID">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="HEADING"/>
      <element name="DEFINITION">
        <ref name="HEADING"/>
        <oneOrMore>
          <ref name="P"/>
        </oneOrMore>
      </element>
      <optional>
        <element name="PLACEMENT">
          <ref name="HEADING"/>
          <oneOrMore>
            <element name="DOCUMENTTYPE">
              <text/>
            </element>
          </oneOrMore>
          <zeroOrMore>
            <ref name="P"/>
          </zeroOrMore>
          <optional>
            <ref name="RESEARCHNOTE"/>
          </optional>
        </element>
      </optional>
      <optional>
        <element name="RELATIONSHIPS">
          <oneOrMore>
            <choice>
              <ref name="HEADING"/>
              <ref name="P"/>
            </choice>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="EXAMPLEGROUP">
          <ref name="HEADING"/>
          <oneOrMore>
            <choice>
              <ref name="EXAMPLE"/>
              <ref name="P"/>
            </choice>
          </oneOrMore>
          <optional>
            <ref name="RESEARCHNOTE"/>
          </optional>
        </element>
      </optional>
      <zeroOrMore>
        <element name="PRACTICEDIRECTIVES">
          <oneOrMore>
            <choice>
              <ref name="EXAMPLE"/>
              <ref name="HEADING"/>
              <ref name="P"/>
              <ref name="RESEARCHNOTE"/>
            </choice>
          </oneOrMore>
        </element>
      </zeroOrMore>
      <optional>
        <ref name="RESEARCHNOTE"/>
      </optional>
      <optional>
        <element name="TROUBLESHOOTING">
          <ref name="HEADING"/>
          <oneOrMore>
            <choice>
              <ref name="EXAMPLE"/>
              <ref name="P"/>
            </choice>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="XREF">
    <element name="XREF">
      <optional>
        <attribute name="DOC">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="FROM"/>
      </optional>
      <attribute name="RESP">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="TO"/>
      </optional>
      <optional>
        <attribute name="URL">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="NAME"/>
          <ref name="SOCALLED"/>
          <ref name="TITLE"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="RESEARCHNOTE">
    <element name="RESEARCHNOTE">
      <text/>
    </element>
  </define>
  <define name="QUOTE">
    <element name="QUOTE">
      <optional>
        <attribute name="DIRECT">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="TYPE">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="BIBCITS"/>
          <ref name="NAME"/>
          <ref name="QUOTE"/>
          <ref name="TITLE"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="NAME">
    <element name="NAME">
      <optional>
        <attribute name="STANDARD"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="HI">
    <element name="HI">
      <optional>
        <attribute name="REND">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="TITLE"/>
          <ref name="XREF"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="SOCALLED">
    <element name="SOCALLED">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="HI"/>
          <ref name="NAME"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="BIBCITS">
    <element name="BIBCITS">
      <oneOrMore>
        <element name="BIBCIT">
          <attribute name="DBREF">
            <data type="integer"/>
          </attribute>
          <attribute name="PLACEHOLDER"/>
          <text/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="IMG">
    <element name="IMG">
      <attribute name="ALT"/>
      <attribute name="SRC"/>
      <attribute name="TITLE"/>
      <optional>
        <attribute name="USEMAP"/>
      </optional>
    </element>
  </define>
  <define name="TITLE">
    <element name="TITLE">
      <optional>
        <attribute name="REG"/>
      </optional>
      <optional>
        <attribute name="TITLETYPE">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="XREF"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="EXAMPLE">
    <element name="EXAMPLE">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="HI"/>
          <ref name="RESEARCHNOTE"/>
          <ref name="TITLE"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
